/*
 * Device Tree file for MBLS1028A starterkit
 *
 * Copyright 2019 Michael Krummsdorf <michael.krummsdorf@tq-group.com>
 *
 * This file is dual-licensed: you can use it either under the terms
 * of the GPLv2 or the X11 license, at your option. Note that this dual
 * licensing only applies to this file, and not this project as a
 * whole.
 *
 *  a) This library is free software; you can redistribute it and/or
 *     modify it under the terms of the GNU General Public License as
 *     published by the Free Software Foundation; either version 2 of the
 *     License, or (at your option) any later version.
 *
 *     This library is distributed in the hope that it will be useful,
 *     but WITHOUT ANY WARRANTY; without even the implied warranty of
 *     MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 *     GNU General Public License for more details.
 *
 * Or, alternatively,
 *
 *  b) Permission is hereby granted, free of charge, to any person
 *     obtaining a copy of this software and associated documentation
 *     files (the "Software"), to deal in the Software without
 *     restriction, including without limitation the rights to use,
 *     copy, modify, merge, publish, distribute, sublicense, and/or
 *     sell copies of the Software, and to permit persons to whom the
 *     Software is furnished to do so, subject to the following
 *     conditions:
 *
 *     The above copyright notice and this permission notice shall be
 *     included in all copies or substantial portions of the Software.
 *
 *     THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND,
 *     EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES
 *     OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND
 *     NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT
 *     HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY,
 *     WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING
 *     FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR
 *     OTHER DEALINGS IN THE SOFTWARE.
 */

/dts-v1/;
#include <dt-bindings/clock/clk-si5338.h>
#include "fsl-ls1028a-tqmls1028a.dtsi"

/ {
	model = "MBLS1028A starterkit";
	compatible = "tq,mbls1028a", "tq,tqmls1028a", "fsl,ls1028a";

	aliases {
		gpio0 = &gpio1;
		gpio1 = &gpio2;
		gpio2 = &gpio3;

		crypto = &crypto;
		serial0 = &duart0;
		serial1 = &duart1;
	};

	chosen {
		stdout-path = "serial0:115200n8";
	};

	quartz: xtal {
		compatible = "fixed-clock";
		#clock-cells = <0>;
		clock-frequency = <25000000>;
	};

	soc {
		pcie@3400000 {
			status = "okay";
		};

		pcie@3500000 {
			status = "okay";
		};

		pcie@1f0000000 {
			clocks = <&clockgen 2 4>;
			clock-names = "hwa4csr";
			status = "okay";
		};
	};
};

&esdhc {
	status = "okay";
	sd-uhs-sdr104;
	sd-uhs-sdr50;
	sd-uhs-sdr25;
	sd-uhs-sdr12;
};

/* When switched to baseboard-internal i2c bus,
 * IIC5 has access to the following devices.
 */
&i2c4 {
	status = "okay";

	usbhub@44 {
		compatible = "ti,tusb8041";
		reg = <0x44>;
		status = "okay";
	};

	clockgen@70 {
		compatible = "silabs,si5338";
		reg = <0x70>;
		status = "okay";
		#address-cells = <1>;
		#size-cells = <0>;
		#clock-cells = <1>;
		/* connected xtal to 25MHz */
		clocks = <&quartz>, <0>, <0>, <0>, <0>;
		clock-names = "xtal", "in12", "in3", "in4", "in56";
		silab,ref-source = <SI5338_REF_SRC_XTAL>;
		silab,fb-source = <SI5338_FB_SRC_NOCLK>;
		silab,pll-source = <SI5338_PFD_IN_REF_XOCLK>;
		silab,pll-master = <0>;

		/* SerDes PLL1 */
		clkout0 {
			reg = <0>;
			silabs,drive-config = "1V8_HCSL";
			silabs,clock-source = <SI5338_OUT_MUX_MSN>;
			silabs,disable-state = <SI5338_OUT_DIS_HIZ>;
			clock-frequency = <100000000>;
			enabled;
		};
		/* SerDes PLL2 */
		clkout1 {
			reg = <1>;
			silabs,drive-config = "1V8_HCSL";
			silabs,clock-source = <SI5338_OUT_MUX_MSN>;
			silabs,disable-state = <SI5338_OUT_DIS_HIZ>;
			clock-frequency = <100000000>;
			enabled;
		};
		/* MPCIE */
		clkout2 {
			reg = <2>;
			silabs,drive-config = "1V8_HCSL";
			silabs,clock-source = <SI5338_OUT_MUX_MSN>;
			silabs,disable-state = <SI5338_OUT_DIS_HIZ>;
			clock-frequency = <100000000>;
			enabled;
		};
		/* QSGMII */
		clkout3 {
			reg = <3>;
			silabs,drive-config = "1V8_LVDS";
			silabs,clock-source = <SI5338_OUT_MUX_MSN>;
			silabs,disable-state = <SI5338_OUT_DIS_HIZ>;
			clock-frequency = <125000000>;
			enabled;
		};
	};
};

&i2c5 {
	status = "okay";

	pca9555_25: pca9555@25 {
		compatible = "nxp,pca9555";
		reg = <0x25>;
		status = "okay";
		gpio-controller;
		#gpio-cells = <2>;

		pin_01 {
			gpio-hog;
			gpios = <1 0>;
			output-high;
			line-name = "usb_rstn";
		};
	};

	pca9538@70 {
		compatible = "nxp,pca9538";
		reg = <0x70>;
		status = "okay";
		gpio-controller;
		#gpio-cells = <2>;

		pin_01 {
			gpio-hog;
			gpios = <1 0>;
			output-high;
			line-name = "ec1_rstn";
		};

		pin_03 {
			gpio-hog;
			gpios = <3 0>;
			output-high;
			line-name = "sgmii_rstn";
		};

		pin_05 {
			gpio-hog;
			gpios = <5 0>;
			output-high;
			line-name = "qsgmii_rstn";
		};
	};
};

&duart0 {
	status = "okay";
};

&duart1 {
	status = "okay";
};

&can0 {
	status = "okay";
};

&can1 {
	status = "okay";
};

&sai4 {
	status = "okay";
};

&malidp0 {
	status = "disabled";
};

&hdptx0 {
	status = "disabled";
};

&enetc_mdio_pf3 {
	mdio0_rgmii_phy00: ethernet-phy@00 {
		compatible = "ethernet-phy-id2000.a230",
			"ethernet-phy-ieee802.3-c22";
		reg = <0x00>;
		ti,rx-internal-delay = <0x9>;
		ti,tx-internal-delay = <0x7>;
		ti,led-cfg1 = <0x6b90>;
		ti,led-cfg2 = <0x0000>;
		ti,led-cfg3 = <0x0001>;
		ti,fifo-depth = <0x01>;
	};

	mdio0_sgmii_phy03: ethernet-phy@03 {
		compatible = "ethernet-phy-id2000.a230",
			"ethernet-phy-ieee802.3-c22";
		reg = <0x03>;
		ti,led-cfg1 = <0x6b90>;
		ti,led-cfg2 = <0x0000>;
		ti,led-cfg3 = <0x0001>;
		ti,fifo-depth = <0x01>;
		ti,dp83867-rxctrl-strap-quirk;
	};

	qsgmii_phy1: ethernet-phy@1c {
		reg = <0x1c>;
	};

	qsgmii_phy2: ethernet-phy@1d {
		reg = <0x1d>;
	};

	qsgmii_phy3: ethernet-phy@1e {
		reg = <0x1e>;
	};

	qsgmii_phy4: ethernet-phy@1f {
		reg = <0x1f>;
	};
};

&enetc_port0 {
	phy-handle = <&mdio0_sgmii_phy03>;
	phy-mode = "sgmii";
	status = "okay";
};

&enetc_port1 {
	phy-handle = <&mdio0_rgmii_phy00>;
	phy-mode = "rgmii-id";
	status = "okay";
};

/* l2switch ports */
&mscc_felix_port0 {
	phy-handle = <&qsgmii_phy1>;
	phy-mode = "qsgmii";
	status = "okay";
};

&mscc_felix_port1 {
	phy-handle = <&qsgmii_phy2>;
	phy-mode = "qsgmii";
	status = "okay";
};

&mscc_felix_port2 {
	phy-handle = <&qsgmii_phy3>;
	phy-mode = "qsgmii";
	status = "okay";
};

&mscc_felix_port3 {
	phy-handle = <&qsgmii_phy4>;
	phy-mode = "qsgmii";
	status = "okay";
};

&sata {
	status = "okay";
};
