/*
 * Copyright 2019 TQ Systems GmbH
 *
 * This program is free software; you can redistribute it and/or
 * modify it under the terms of the GNU General Public License
 * as published by the Free Software Foundation; either version 2
 * of the License, or (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 */

#include "fsl-imx8mq-tqma8mq-mba8mx.dts"

/ {
	display-subsystem {
		status = "disabled";
	};

	sound-hdmi {
		status = "disabled";
	};

	panel-lvds0 {
		compatible = "tianma,tm070jvhg33";
		enable-gpios = <&expander2 2 GPIO_ACTIVE_HIGH>;
		backlight = <&backlight_lvds0>;
		power-supply = <&reg_mba8mq_12v>;
		status = "okay";

		port {
			panel_in_lvds0: endpoint {
				remote-endpoint = <&lvds_bridge_out>;
			};
		};
	};
};

&dcss {
	status = "disabled";
};

&ecspi2 {
	status = "disabled";
};

&hdmi {
	status = "disabled";
};

&dsi_lvds_bridge {
	ti,dsi-lanes = <4>;
	ti,lvds-format = <1>;
	ti,lvds-bpp = <24>;
	ti,width-mm = <151>;
	ti,height-mm = <95>;
	status = "okay";

	ports {
		#address-cells = <1>;
		#size-cells = <0>;

		port@0 {
			reg = <0>;

			lvds_bridge_in: endpoint {
				remote-endpoint = <&mipi_dsi_bridge_out>;
			};
		};

		port@1 {
			reg = <1>;

			lvds_bridge_out: endpoint {
				remote-endpoint = <&panel_in_lvds0>;
			};
		};
	};
};

&irqsteer_dcss {
	status = "disabled";
};

&lcdif {
	status = "okay";
	max-res = <1280>, <800>;

	port@0 {
		lcdif_mipi_dsi: mipi-dsi-endpoint {
			remote-endpoint = <&mipi_dsi_in>;
		};
	};
};

&mipi_dsi {
	status = "okay";
	/* use lcdif as input */
	as_bridge;
	sync-pol = <1>;
	pwr-delay = <10>;

	/* TESTTESTTEST: */
	assigned-clocks = <&clk IMX8MQ_CLK_DSI_PHY_REF>,
			  <&clk IMX8MQ_CLK_DSI_CORE>,
			  <&clk IMX8MQ_VIDEO_PLL1_REF_SEL>,
			  <&clk IMX8MQ_VIDEO_PLL1>;
	assigned-clock-parents = <&clk IMX8MQ_VIDEO_PLL1_OUT>,
				 <&clk IMX8MQ_SYS1_PLL_266M>,
				 <&clk IMX8MQ_CLK_25M>;
	assigned-clock-rates = <24000000>,
			       <266000000>,
			       <0>,
			       <599999999>;

	port@1 {
		mipi_dsi_in: endpoint {
			remote-endpoint = <&lcdif_mipi_dsi>;
		};
	};
};

&mipi_dsi_bridge {
	status = "okay";

	port@1 {
		mipi_dsi_bridge_out: endpoint {
			remote-endpoint = <&lvds_bridge_in>;
		};
	};
};

&mipi_dsi_phy {
	status = "okay";
};
