/*
 * Copyright 2019 TQ Systems GmbH
 *
 * This program is free software; you can redistribute it and/or
 * modify it under the terms of the GNU General Public License
 * as published by the Free Software Foundation; either version 2
 * of the License, or (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 */

/ {
	model = "TQ Systems GmbH TQMa8QM";
	compatible = ",tq,tqma8qm", "fsl,imx8qm";

	lpspi1: lpspi@5a010000 {
		compatible = "fsl,imx7ulp-spi";
		reg = <0x0 0x5a010000 0x0 0x10000>;
		interrupts = <GIC_SPI 217 IRQ_TYPE_LEVEL_HIGH>;
		interrupt-parent = <&gic>;
		clocks = <&clk IMX8QM_SPI1_CLK>,
			 <&clk IMX8QM_SPI1_IPG_CLK>;
		clock-names = "per", "ipg";
		assigned-clocks = <&clk IMX8QM_SPI1_CLK>;
		assigned-clock-rates = <20000000>;
		power-domains = <&pd_dma_lpspi1>;
		dma-names = "tx","rx";
		dmas = <&edma0 3 0 0>, <&edma0 2 0 1>;
		status = "disabled";
	};

	lpspi2: lpspi@5a020000 {
		compatible = "fsl,imx7ulp-spi";
		reg = <0x0 0x5a020000 0x0 0x10000>;
		interrupts = <GIC_SPI 218 IRQ_TYPE_LEVEL_HIGH>;
		interrupt-parent = <&gic>;
		clocks = <&clk IMX8QM_SPI2_CLK>,
			 <&clk IMX8QM_SPI2_IPG_CLK>;
		clock-names = "per", "ipg";
		assigned-clocks = <&clk IMX8QM_SPI2_CLK>;
		assigned-clock-rates = <20000000>;
		power-domains = <&pd_dma_lpspi2>;
		dma-names = "tx","rx";
		dmas = <&edma0 5 0 0>, <&edma0 4 0 1>;
		status = "disabled";
	};

	reg_v1v8_io_filter: v1v8_io_filter {
		compatible = "regulator-fixed";
		regulator-name = "V_1V8_IO2_FILTER";
		regulator-min-microvolt = <1800000>;
		regulator-max-microvolt = <1800000>;
		regulator-always-on;
	};
};

&flexspi0 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_flexspi0>;
	status = "okay";
	fsl,qspi-skip-dll-config;

	flash0: flash@0 {
		reg = <0>;
		#address-cells = <1>;
		#size-cells = <1>;
		compatible = "spi-flash";
		spi-max-frequency = <66000000>;
		spi-nor,ddr-quad-read-dummy = <8>;
	};
};

&gpio2 {
	status = "okay";
};

&gpio4 {
	status = "okay";
};

&gpio5 {
	status = "okay";
};

&i2c1 {
	#address-cells = <1>;
	#size-cells = <0>;
	clock-frequency = <100000>;
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_lpi2c1>;
	status = "okay";

	/*
	 * NXP SE97BTP with temperature sensor + eeprom
	 * ATTENTION: do not use correct dt compatible since this will conflict
	 * with hwmon sysfs ABI and break device registration
	 */
	sensor0: jc42@1b {
		compatible = "nxp,se97", "jedec,jc-42.4-temp";
		reg = <0x1b>;
		status = "okay";
	};

	rtc1: pcf85063@51 {
		compatible = "nxp,pcf85063";
		reg = <0x51>;
		/* TODO: wakeup / alarm not implemented yet */
		/* TODO: capacity and offset prop needed for improved accuracy */
		quartz-load-femtofarads = <12500>;
		status = "okay";
	};

	eeprom1: 24c02@53 {
		compatible = "atmel,24c02";
		reg = <0x53>;
		pagesize = <16>;
		status = "okay";
	};

	eeprom0: m24c64@57 {
		compatible = "st,24c64", "atmel,24c64", "at24";
		reg = <0x57>;
		pagesize = <32>;
		status = "okay";
	};
};

&iomuxc {
	pinctrl_usdhc1: usdhc1grp {
		fsl,pins = <
			SC_P_EMMC0_CLK_CONN_EMMC0_CLK		0x06000041
			SC_P_EMMC0_CMD_CONN_EMMC0_CMD		0x00000021
			SC_P_EMMC0_DATA0_CONN_EMMC0_DATA0	0x00000021
			SC_P_EMMC0_DATA1_CONN_EMMC0_DATA1	0x00000021
			SC_P_EMMC0_DATA2_CONN_EMMC0_DATA2	0x00000021
			SC_P_EMMC0_DATA3_CONN_EMMC0_DATA3	0x00000021
			SC_P_EMMC0_DATA4_CONN_EMMC0_DATA4	0x00000021
			SC_P_EMMC0_DATA5_CONN_EMMC0_DATA5	0x00000021
			SC_P_EMMC0_DATA6_CONN_EMMC0_DATA6	0x00000021
			SC_P_EMMC0_DATA7_CONN_EMMC0_DATA7	0x00000021
			SC_P_EMMC0_STROBE_CONN_EMMC0_STROBE	0x06000041
			SC_P_EMMC0_RESET_B_CONN_EMMC0_RESET_B	0x00000021
		>;
	};

	pinctrl_usdhc1_100mhz: usdhc1grp100mhz {
		fsl,pins = <
			SC_P_EMMC0_CLK_CONN_EMMC0_CLK		0x06000040
			SC_P_EMMC0_CMD_CONN_EMMC0_CMD		0x00000021
			SC_P_EMMC0_DATA0_CONN_EMMC0_DATA0	0x00000021
			SC_P_EMMC0_DATA1_CONN_EMMC0_DATA1	0x00000021
			SC_P_EMMC0_DATA2_CONN_EMMC0_DATA2	0x00000021
			SC_P_EMMC0_DATA3_CONN_EMMC0_DATA3	0x00000021
			SC_P_EMMC0_DATA4_CONN_EMMC0_DATA4	0x00000021
			SC_P_EMMC0_DATA5_CONN_EMMC0_DATA5	0x00000021
			SC_P_EMMC0_DATA6_CONN_EMMC0_DATA6	0x00000021
			SC_P_EMMC0_DATA7_CONN_EMMC0_DATA7	0x00000021
			SC_P_EMMC0_STROBE_CONN_EMMC0_STROBE	0x06000040
			SC_P_EMMC0_RESET_B_CONN_EMMC0_RESET_B	0x00000020
		>;
	};

	pinctrl_usdhc1_200mhz: usdhc1grp200mhz {
		fsl,pins = <
			SC_P_EMMC0_CLK_CONN_EMMC0_CLK		0x06000040
			SC_P_EMMC0_CMD_CONN_EMMC0_CMD		0x00000021
			SC_P_EMMC0_DATA0_CONN_EMMC0_DATA0	0x00000021
			SC_P_EMMC0_DATA1_CONN_EMMC0_DATA1	0x00000021
			SC_P_EMMC0_DATA2_CONN_EMMC0_DATA2	0x00000021
			SC_P_EMMC0_DATA3_CONN_EMMC0_DATA3	0x00000021
			SC_P_EMMC0_DATA4_CONN_EMMC0_DATA4	0x00000021
			SC_P_EMMC0_DATA5_CONN_EMMC0_DATA5	0x00000021
			SC_P_EMMC0_DATA6_CONN_EMMC0_DATA6	0x00000021
			SC_P_EMMC0_DATA7_CONN_EMMC0_DATA7	0x00000021
			SC_P_EMMC0_STROBE_CONN_EMMC0_STROBE	0x06000040
			SC_P_EMMC0_RESET_B_CONN_EMMC0_RESET_B	0x00000020
		>;
	};

	pinctrl_lpi2c1: lpi2c1grp {
		fsl,pins = <
			SC_P_GPT0_CAPTURE_DMA_I2C1_SDA		0x0600004c
			SC_P_GPT0_CLK_DMA_I2C1_SCL		0x0600004c
		>;
	};

	pinctrl_flexspi0: flexspi0grp {
		fsl,pins = <
			SC_P_QSPI0A_DATA0_LSIO_QSPI0A_DATA0	0x0600004c
			SC_P_QSPI0A_DATA1_LSIO_QSPI0A_DATA1	0x0600004c
			SC_P_QSPI0A_DATA2_LSIO_QSPI0A_DATA2	0x0600004c
			SC_P_QSPI0A_DATA3_LSIO_QSPI0A_DATA3	0x0600004c
			SC_P_QSPI0A_DQS_LSIO_QSPI0A_DQS		0x0600004c
			SC_P_QSPI0A_SS0_B_LSIO_QSPI0A_SS0_B	0x0600004c
			SC_P_QSPI0A_SS1_B_LSIO_QSPI0A_SS1_B	0x0600004c
			SC_P_QSPI0A_SCLK_LSIO_QSPI0A_SCLK	0x0600004c
			SC_P_QSPI0B_SCLK_LSIO_QSPI0B_SCLK	0x0600004c
			SC_P_QSPI0B_DATA0_LSIO_QSPI0B_DATA0	0x0600004c
			SC_P_QSPI0B_DATA1_LSIO_QSPI0B_DATA1	0x0600004c
			SC_P_QSPI0B_DATA2_LSIO_QSPI0B_DATA2	0x0600004c
			SC_P_QSPI0B_DATA3_LSIO_QSPI0B_DATA3	0x0600004c
			SC_P_QSPI0B_DQS_LSIO_QSPI0B_DQS		0x0600004c
			SC_P_QSPI0B_SS0_B_LSIO_QSPI0B_SS0_B	0x0600004c
			SC_P_QSPI0B_SS1_B_LSIO_QSPI0B_SS1_B	0x0600004c
		>;
	};
};

&usdhc1 {
	pinctrl-names = "default", "state_100mhz", "state_200mhz";
	pinctrl-0 = <&pinctrl_usdhc1>;
	pinctrl-1 = <&pinctrl_usdhc1_100mhz>;
	pinctrl-2 = <&pinctrl_usdhc1_200mhz>;
	bus-width = <8>;
	non-removable;
	status = "okay";
};
