// SPDX-License-Identifier: (GPL-2.0-or-later OR MIT)
/*
 * Copyright 2021-2023 TQ-Systems GmbH <linux@ew.tq-group.com>,
 * D-82229 Seefeld, Germany.
 * Author: Alexander Stein
 */

#include "imx8mq-tqma8mq-mba8mx-dcss-hdmi.dts"
#include "imx8mq-mba8mx-ov9281.dtsi"
