// SPDX-License-Identifier: (GPL-2.0-or-later OR MIT)
/*
 * Copyright 2021-2022 TQ-Systems GmbH
 * Author: Alexander Stein <linux@ew.tq-group.com>
 */

/dts-v1/;

#include "imx8mn-tqma8mqnl-mba8mx.dts"

/ {
	reserved-memory {
		#address-cells = <2>;
		#size-cells = <2>;
		ranges;

		m4_reserved: m4@78000000 {
			no-map;
			reg = <0 0x78000000 0 0x100000>;
		};

		vdev0vring0: vdev0vring0@78100000 {
			reg = <0 0x78100000 0 0x8000>;
			no-map;
		};

		vdev0vring1: vdev0vring1@78108000 {
			reg = <0 0x78108000 0 0x8000>;
			no-map;
		};

		rsc_table: rsc_table@781ff000 {
			reg = <0 0x781ff000 0 0x1000>;
			no-map;
		};

		vdevbuffer: vdevbuffer@78500000 {
			compatible = "shared-dma-pool";
			reg = <0 0x78500000 0 0x100000>;
			no-map;
		};
	};

	imx8mn-cm7 {
		compatible = "fsl,imx8mn-cm7";
		rsc-da = <0x78100000>;
		mbox-names = "tx", "rx", "rxdb";
		mboxes = <&mu 0 1
			  &mu 1 1
			  &mu 3 1>;
		memory-region = <&vdevbuffer>, <&vdev0vring0>, <&vdev0vring1>, <&rsc_table>;
	};
};

/*
 * ATTENTION: M7 may use IPs like below
 * UART4, I2C2, ECSPI2, FLEXSPI
 * if access to more hardware is needed, keep in mind to disable it to prevent
 * system lockup and other things. Also resource partitioning using RDC
 * should beimplemented. See TF-A implementation.
 */

&ecspi1 {
	status = "disabled";
};

&flexspi {
	status = "disabled";
};

&i2c2 {
	status = "disabled";
};

&uart4 {
	status = "disabled";
};
