// SPDX-License-Identifier: (GPL-2.0-or-later OR MIT)
/*
 * Copyright (c) 2021-2024 TQ-Systems GmbH <linux@ew.tq-group.com>,
 * D-82229 Seefeld, Germany.
 * Author: Alexander Stein
 */

/dts-v1/;
/plugin/;

&{/} {
	/* This voltage converter is located on the adapter board MBaxCA */
	reg_mipi_csi_v3v3: regulator-mipi-csi-v3v3 {
		compatible = "regulator-fixed";
		regulator-name = "MIPI_CSI_V_3V3";
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;
		vin-supply = <&reg_vcc_5v0>;
	};
};

&cameradev {
	status = "okay";
};

&mipi_csi_1 {
	status = "okay";

	port {
		mipi_csi_in: endpoint {
			remote-endpoint = <&camera_out>;
			data-lanes = <2>;
			csis-hs-settle = <13>;
			csis-clk-settle = <2>;
			csis-wclk;
		};
	};
};

&isi_0 {
	status = "okay";

	cap_device {
		status = "okay";
	};
};

&i2c3 {
	#address-cells = <1>;
	#size-cells = <0>;

	vc_ctrl: controller@10 {
		compatible = "vision-components,mipi-module";
		reg = <0x10>;
		#clock-cells = <0>;
		vcc-supply = <&reg_mipi_csi_v3v3>;
		clock-frequency = <24000000>;
	};

	camera@60 {
		compatible = "ovti,ov9281";
		reg = <0x60>;
		clocks = <&vc_ctrl>;

		avdd-supply = <&vc_ctrl>;
		dovdd-supply = <&vc_ctrl>;
		dvdd-supply = <&vc_ctrl>;

		port {
			camera_out: endpoint {
				remote-endpoint = <&mipi_csi_in>;
				data-lanes = <1 2>;
				clock-lanes = <0>;
				clock-noncontinuous = <1>;
				link-frequencies = /bits/ 64 <400000000>;
			};
		};
	};
};
