// SPDX-License-Identifier: (GPL-2.0-or-later OR MIT)
/*
 * Copyright 2020-2022 TQ-Systems GmbH
 * Author: Alexander Stein <linux@ew.tq-group.com>
 */

#include "imx8mn-tqma8mqnl-mba8mx.dts"
#include "imx8mn-tqma8mqnl-mba8mx-usb0otg.dtsi"
