// SPDX-License-Identifier: (GPL-2.0-or-later OR MIT)
/*
 * Copyright (c) 2026 TQ-Systems GmbH <linux@ew.tq-group.com>,
 * D-82229 Seefeld, Germany.
 * Author: Paul Gerber
 */

/dts-v1/;
/plugin/;

#include <dt-bindings/gpio/gpio.h>

&{/} {
	clk_os08a20_fixed: os08a20-xclk {
		compatible = "fixed-clock";
		#clock-cells = <0>;
		clock-frequency = <24000000>;
	};

	reg_1v2_cam: regulator-1v2 {
		compatible = "regulator-fixed";
		regulator-name = "VDD_1V2";
		regulator-min-microvolt = <1200000>;
		regulator-max-microvolt = <1200000>;
		vin-supply = <&reg_v3v3_mb>;
		regulator-always-on;
	};

	reg_1v8_cam: regulator-1v8 {
		compatible = "regulator-fixed";
		regulator-name = "IOVDD_1V8";
		regulator-min-microvolt = <1800000>;
		regulator-max-microvolt = <1800000>;
		vin-supply = <&reg_v3v3_mb>;
		regulator-always-on;
	};

	reg_2v8_cam: regulator-2v8 {
		compatible = "regulator-fixed";
		regulator-name = "VDD_2V8";
		regulator-min-microvolt = <2800000>;
		regulator-max-microvolt = <2800000>;
		vin-supply = <&reg_v3v3_mb>;
		regulator-always-on;
	};
};

&lpi2c2 {
	#address-cells = <1>;
	#size-cells = <0>;
	status = "okay";

	os08a20: os08a20_mipi@36 {
		compatible = "ovti,os08a20";
		reg = <0x36>;
		clocks = <&clk_os08a20_fixed>;
		reset-gpios = <&expander3 11 GPIO_ACTIVE_LOW>;
		avdd-supply = <&reg_2v8_cam>;
		dovdd-supply = <&reg_1v8_cam>;
		dvdd-supply = <&reg_1v2_cam>;
		orientation = <2>;
		rotation = <0>;
		status = "okay";

		port {
			os08a20_mipi_0_ep: endpoint {
				remote-endpoint = <&mipi_csi0_ep>;
				data-lanes = <1 2 3 4>;
				clock-lanes = <0>;
			};
		};
	};
};

&dphy_rx {
	status = "okay";
};

&mipi_csi0 {
	status = "okay";

	ports {
		#address-cells = <1>;
		#size-cells = <0>;

		port@0 {
			reg = <0>;
			mipi_csi0_ep: endpoint {
				remote-endpoint = <&os08a20_mipi_0_ep>;
				data-lanes = <1 2 3 4>;
				clock-lanes = <0>;
			};
		};

		port@1 {
			reg = <1>;
				mipi_csi0_out: endpoint {
				remote-endpoint = <&formatter_0_in>;
			};
		};
	};
};

&csi_pixel_formatter_0 {
	status = "okay";

	ports {
		#address-cells = <1>;
		#size-cells = <0>;

		port@0 {
			reg = <0>;

			formatter_0_in: endpoint {
				remote-endpoint = <&mipi_csi0_out>;
			};
		};

		port@1 {
			reg = <1>;

			formatter_0_out: endpoint {
				remote-endpoint = <&isi_in_2>;
			};
		};
	};
};

&isi {
	status = "okay";

	ports {
		#address-cells = <1>;
		#size-cells = <0>;

		port@2 {
			reg = <2>;

			isi_in_2: endpoint {
				remote-endpoint = <&formatter_0_out>;
			};
		};
	};
};
