// SPDX-License-Identifier: GPL-2.0
/*
 * Device Tree file for TQ LS1012A MBLS1012AL Board.
 *
 * Copyright 2018 TQ Systems GmbH
 * Max Merchel <Max.Merchel@tq-group.com>
 */

/dts-v1/;

#include "fsl-ls1012a.dtsi"

/ {
	sys_mclk: clock-mclk {
		compatible = "fixed-clock";
		#clock-cells = <0>;
		clock-frequency = <25000000>;
	};
};

&i2c0 {
	status = "okay";

	eeprom0: 24c64@50 {
		compatible = "atmel,24c64";
		reg = <0x50>;
		pagesize = <32>;
		status = "okay";
	};

	se97btp: 24c02@51 {
		compatible = "atmel,24c02";
		pagesize = <16>;
		reg = <0x51>;
	};

	rtc: ds1339@68 {
		compatible = "dallas,ds1339";
		reg = <0x68>;
		interrupts = <43>;
	};
};

&qspi {
	num-cs = <2>;
	bus-num = <0>;
	status = "okay";

	qflash0: n25q512@0 {
		compatible = "jedec,spi-nor";
		#address-cells = <1>;
		#size-cells = <1>;
		spi-max-frequency = <20000000>;
		m25p,fast-read;
		reg = <0>;
	};
};
