// SPDX-License-Identifier: GPL-2.0
/*
 * Device Tree file for TQ LS1012A MBLS1012AL Board.
 *
 * Copyright 2018 TQ Systems GmbH
 * Max Merchel <Max.Merchel@tq-group.com>
 */

/dts-v1/;

#include "ls1012a-tqmls1012al.dtsi"
#include <dt-bindings/gpio/gpio.h>

/ {
	model = "TQMLS1012AL on MBLS1012AL";
	compatible = "tqc,ls1012a-tqmls1012al-tqmbls1012al", "fsl,ls1012a";

	aliases {
		serial0 = &duart0;
		/* use MAC from U-Boot environment */
		ethernet0 = &pfe_mac0;
		ethernet1 = &pfe_mac1;
	};

	chosen {
		linux,stdout-path = &duart0;
		stdout-path = &duart0;
	};

	reg_1p5v: regulator_1p5v {
		compatible = "regulator-fixed";
		regulator-name = "1P5V";
		regulator-min-microvolt = <1500000>;
		regulator-max-microvolt = <1500000>;
		regulator-always-on;
	};

	reg_1p8v: regulator_1p8v {
		compatible = "regulator-fixed";
		regulator-name = "1P8V";
		regulator-min-microvolt = <1800000>;
		regulator-max-microvolt = <1800000>;
		regulator-always-on;
	};

	reg_3p3v: regulator_3p3v {
		compatible = "regulator-fixed";
		regulator-name = "3P3V";
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;
		regulator-always-on;
	};
};

&duart0 {
	status = "okay";
};

&esdhc0 {
	sd-uhs-sdr104;
	sd-uhs-sdr50;
	sd-uhs-sdr25;
	sd-uhs-sdr12;
	mmc-hs200-1_8v;
	status = "okay";
};

&i2c0 {
	sensor1: lm75@48 {
		compatible = "lm75";
		reg = <0x48>;
		status = "okay";
	};

	gpio_ext0: pca9555@20 {
		compatible = "nxp,pca9555";
		reg = <0x20>;
		gpio-controller;
		#gpio-cells = <2>;
		vcc-supply = <&reg_3p3v>;

		vcc_pcie_en_3v3 {
			gpio-hog;
			gpios = <1 GPIO_ACTIVE_HIGH>;
			output-high;
			line-name = "VCC_PCIE_EN_3V3";
		};

		pcie_rst {
			gpio-hog;
			gpios = <4 GPIO_ACTIVE_HIGH>;
			output-high;
			line-name = "PCIE_RST#";
		};

		pcie_dis {
			gpio-hog;
			gpios = <11 GPIO_ACTIVE_HIGH>;
			output-high;
			line-name = "PCIE_DIS#";
		};
	};

	gpio_ext1: pca9538@70 {
		compatible = "nxp,pca9538";
		reg = <0x70>;
		gpio-controller;
		#gpio-cells = <2>;
		vcc-supply = <&reg_1p8v>;

		/* do not change PCIE_CLK_PD */
		pcie_clk_pd {
			gpio-hog;
			gpios = <0 GPIO_ACTIVE_HIGH>;
			output-high;
			line-name = "PCIE_CLK_PD#";
		};

		vcc_pcie_en_1v5 {
			gpio-hog;
			gpios = <7 GPIO_ACTIVE_HIGH>;
			output-high;
			line-name = "VCC_PCIE_EN_1V5";
		};
	};
};

&pcie {
	status = "okay";
};

&pfe_mac0 {
	compatible = "fsl,pfe-gemac-port";
	#address-cells = <1>;
	#size-cells = <0>;
	reg = <0x0>;			/* GEM_ID */
	fsl,gemac-bus-id = <0x0>;	/* BUS_ID */
	fsl,gemac-phy-id = <0x9>;	/* PHY_ID */
	fsl,mdio-mux-val = <0x0>;
	phy-mode = "sgmii";
	fsl,pfe-phy-if-flags = <0x0>;

	mdio@0 {
		reg = <0x1>; /* enabled/disabled */
	};
};

&pfe_mac1 {
	compatible = "fsl,pfe-gemac-port";
	#address-cells = <1>;
	#size-cells = <0>;
	reg = <0x1>;			/* GEM_ID */
	fsl,gemac-bus-id = <0x1>;	/* BUS_ID */
	fsl,gemac-phy-id = <0x1>;	/* PHY_ID */
	fsl,mdio-mux-val = <0x0>;
	phy-mode = "rgmii";
	fsl,pfe-phy-if-flags = <0x1>;
};

&sata {
	status = "okay";
};
