// SPDX-License-Identifier: (GPL-2.0-or-later OR MIT)
/*
 * Copyright 2018-2020 TQ-Systems GmbH
 */

/ {
	aliases {
		rtc1 = &rtc;
		rtc0 = &rtc1;
	};

	chosen {
		bootargs = "console=ttyLP0,115200 earlycon";
		stdout-path = &lpuart0;
	};

	reg_sdvmmc: regulator-sdvmmc {
		off-on-delay-us = <200000>;
		status = "okay";
	};

	reg_1v5_vstby: regulator-1v5_vstby {
		compatible = "regulator-fixed";
		regulator-name = "1V5_VSTBY";
		regulator-min-microvolt = <1500000>;
		regulator-max-microvolt = <1500000>;
		regulator-always-on;
	};

	reg_1v8: regulator-1v8 {
		compatible = "regulator-fixed";
		regulator-name = "1V8";
		regulator-min-microvolt = <1800000>;
		regulator-max-microvolt = <1800000>;
		regulator-always-on;
	};

	reg_3v3_vstby: regulator-3v3_vstby {
		compatible = "regulator-fixed";
		regulator-name = "3V3_VSTBY";
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;
		regulator-always-on;
	};

	reg_3v3: regulator-3v3 {
		compatible = "regulator-fixed";
		regulator-name = "3V3";
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;
		regulator-always-on;
	};

	reg_12v0: regulator-12v0 {
		compatible = "regulator-fixed";
		regulator-name = "12V0";
		regulator-min-microvolt = <12000000>;
		regulator-max-microvolt = <12000000>;
		regulator-always-on;
	};


	reg_pcie_3v3: regulator-pcie-3v3 {
		compatible = "regulator-fixed";
		regulator-name = "MBA8QX_PCIE_3V3";
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;
		regulator-always-on;
	};

	reserved-memory {
		decoder_boot: decoder-boot@84000000 {
			reg = <0 0x84000000 0 0x2000000>;
			no-map;
		};

		encoder_boot: encoder-boot@86000000 {
			reg = <0 0x86000000 0 0x200000>;
			no-map;
		};

		decoder_rpc: decoder-rpc@0x92000000 {
			reg = <0 0x92000000 0 0x200000>;
			no-map;
		};

		encoder_rpc: encoder-rpc@0x92200000 {
			reg = <0 0x92200000 0 0x200000>;
			no-map;
		};

		encoder_reserved: encoder_reserved@94400000 {
			reg = <0 0x94400000 0 0x800000>;
			no-map;
		};
	};

	sound {
		compatible = "fsl,imx-audio-tlv320aic32x4";
		model = "tqm-tlv320aic32";
		ssi-controller = <&sai1>;
		audio-codec = <&codec>;
	};
};

&ethphy0 {
	/* LED1: Link, LED2: activity */
	ti,led-function = <0xc100>;
	/* active high, LED1/2 driven by phy */
	ti,led-ctrl = <0x1441>;
};

&ethphy3 {
	/* LED1: Link, LED2: activity */
	ti,led-function = <0xc100>;
	/* active high, LED1/2 driven by phy */
	ti,led-ctrl = <0x1441>;
};

&fec1 {
	status = "okay";
};

&fec2 {
	status = "okay";
};

&flexcan2 {
	xceiver-supply = <&reg_3v3>;
	status = "okay";
};

&flexcan3 {
	xceiver-supply = <&reg_3v3>;
	status = "okay";
};

&i2c0 {
	codec: tlv320aic3x04@18 {
		compatible = "ti,tlv320aic32x4";
		reg = <0x18>;
		
		clocks = <&mclkout0_lpcg 0>;
		clock-names = "mclk";

		iov-supply = <&reg_1v8>;
		ldoin-supply = <&reg_3v3>;
	};

	eeprom2: eeprom@57 {
		compatible = "st,24c32", "atmel,24c32";
		reg = <0x57>;
		pagesize = <32>;
	};
};

&lpspi1 {
	spidev0_0: spidev0@0 {
		reg = <0>;
		compatible = "tq,testdev";
		spi-max-frequency = <5000000>;
	};

	spidev0_1: spidev0@1 {
		reg = <1>;
		compatible = "tq,testdev";
		spi-max-frequency = <5000000>;
	};
};

&lpuart0 {
	status = "okay";
};

&pcieb{
	epdev_on-supply = <&reg_pcie_3v3>;
	status = "okay";
};

&usbotg1 {
	status = "okay";
};

&usbotg3 {
	status = "okay";
};

&usdhc2 {
	cd-gpios = <&lsio_gpio4 22 GPIO_ACTIVE_LOW>;
	wp-gpios = <&lsio_gpio4 21 GPIO_ACTIVE_HIGH>;
	vmmc-supply = <&reg_sdvmmc>;
	no-mmc;
	no-sdio;
	status = "okay";
};

&vpu_decoder {
	boot-region = <&decoder_boot>;
	rpc-region = <&decoder_rpc>;
	reg-csr = <0x2d040000>;
	core_type = <1>;
	status = "okay";
};

&vpu_encoder {
	boot-region = <&encoder_boot>;
	rpc-region = <&encoder_rpc>;
	reserved-region = <&encoder_reserved>;
	reg-rpc-system = <0x40000000>;
	resolution-max = <1920 1080>;
	mbox-names = "enc1_tx0", "enc1_tx1", "enc1_rx";
	mboxes = <&mu1_m0 0 0
		  &mu1_m0 0 1
		  &mu1_m0 1 0>;
	status = "okay";

	core0@1020000 {
		compatible = "fsl,imx8-mu1-vpu-m0";
		reg = <0x1020000 0x20000>;
		reg-csr = <0x1050000 0x10000>;
		interrupts = <GIC_SPI 470 IRQ_TYPE_LEVEL_HIGH>;
		fsl,vpu_ap_mu_id = <17>;
		fw-buf-size = <0x200000>;
		rpc-buf-size = <0x80000>;
		print-buf-size = <0x80000>;
	};
};
