// SPDX-License-Identifier: (GPL-2.0-or-later OR MIT)
/*
 * Copyright (c) 2018-2024 TQ-Systems GmbH <linux@ew.tq-group.com>,
 * D-82229 Seefeld, Germany.
 * Author: Alexander Stein
 */

/ {
	aliases {
		rtc0 = &rtc1;
		rtc1 = &rtc;
	};

	backlight_lvds0: backlight-lvds0 {
		compatible = "pwm-backlight";
		pinctrl-names = "default";
		pinctrl-0 = <&pinctrl_backlight_lvds0>;
		pwms = <&pwm_mipi_lvds0 0 5000000 0>;
		brightness-levels = <0 4 8 16 32 64 128 255>;
		default-brightness-level = <7>;
		power-supply = <&reg_12v0>;
		enable-gpios = <&lsio_gpio1 2 GPIO_ACTIVE_HIGH>;
		status = "disabled";
	};

	backlight_lvds1: backlight-lvds1 {
		compatible = "pwm-backlight";
		pinctrl-names = "default";
		pinctrl-0 = <&pinctrl_backlight_lvds1>;
		pwms = <&pwm_mipi_lvds1 0 100000 0>;
		brightness-levels = <0 4 8 16 32 64 128 255>;
		default-brightness-level = <7>;
		power-supply = <&reg_12v0>;
		enable-gpios = <&lsio_gpio1 0 GPIO_ACTIVE_HIGH>;
		status = "disabled";
	};

	chosen {
		stdout-path = &lpuart0;
	};

	panel_lvds0: panel-lvds0 {
		/*
		 * Display is not fixed, so compatible has to be added from
		 * DT
		 */
		backlight = <&backlight_lvds0>;
		power-supply = <&reg_lvds0>;
		status = "disabled";

		port {
			panel_in_lvds0: endpoint {
				remote-endpoint = <&lvds0_out>;
			};
		};
	};

	panel_lvds1: panel-lvds1 {
		/*
		 * Display is not fixed, so compatible has to be added from
		 * DT
		 */
		backlight = <&backlight_lvds1>;
		power-supply = <&reg_lvds1>;
		status = "disabled";

		port {
			panel_in_lvds1: endpoint {
				remote-endpoint = <&lvds1_out>;
			};
		};
	};

	reg_1v8: regulator-1v8 {
		compatible = "regulator-fixed";
		regulator-name = "1V8";
		regulator-min-microvolt = <1800000>;
		regulator-max-microvolt = <1800000>;
		regulator-always-on;
	};

	reg_3v3: regulator-3v3 {
		compatible = "regulator-fixed";
		regulator-name = "3V3";
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;
		regulator-always-on;
	};

	reg_12v0: regulator-12v0 {
		compatible = "regulator-fixed";
		regulator-name = "12V0";
		regulator-min-microvolt = <12000000>;
		regulator-max-microvolt = <12000000>;
		regulator-always-on;
	};

	sound {
		compatible = "fsl,imx-audio-tlv320aic32x4";
		model = "tqm-tlv320aic32";
		ssi-controller = <&sai1>;
		audio-codec = <&tlv320aic3x04>;
	};
};

&ethphy0 {
	/* LED1: Link, LED2: activity */
	ti,led-function = <0xc100>;
	/* active high, LED1/2 driven by phy */
	ti,led-ctrl = <0x1441>;
};

&ethphy3 {
	/* LED1: Link, LED2: activity */
	ti,led-function = <0xc100>;
	/* active high, LED1/2 driven by phy */
	ti,led-ctrl = <0x1441>;
};

&fec1 {
	status = "okay";
};

&fec2 {
	status = "okay";
};

&flexcan2 {
	xceiver-supply = <&reg_3v3>;
	status = "okay";
};

&flexcan3 {
	xceiver-supply = <&reg_3v3>;
	status = "okay";
};

&i2c0 {
	tlv320aic3x04: audio-codec@18 {
		compatible = "ti,tlv320aic32x4";
		reg = <0x18>;
		clocks = <&mclkout0_lpcg 0>;
		clock-names = "mclk";
		iov-supply = <&reg_1v8>;
		ldoin-supply = <&reg_3v3>;
	};

	eeprom2: eeprom@57 {
		compatible = "atmel,24c32";
		reg = <0x57>;
		pagesize = <32>;
		vcc-supply = <&reg_3v3>;
	};
};

&ldb1 {
	lvds-channel@0 {
		port@1 {
			reg = <1>;

			lvds0_out: endpoint {
				remote-endpoint = <&panel_in_lvds0>;
			};
		};
	};
};

&ldb2 {
	lvds-channel@0 {
		port@1 {
			reg = <1>;

			lvds1_out: endpoint {
				remote-endpoint = <&panel_in_lvds1>;
			};
		};
	};
};

&lpspi1 {
	status = "okay";

	spidev0_0: spidev0@0 {
		compatible = "tq,testdev";
		reg = <0>;
		spi-max-frequency = <5000000>;
	};

	spidev0_1: spidev0@1 {
		compatible = "tq,testdev";
		reg = <1>;
		spi-max-frequency = <5000000>;
	};
};

&lpuart0 {
	status = "okay";
};

&lpuart3 {
	status = "okay";
};

&pcieb {
	status = "okay";
};

&phyx1 {
	fsl,refclk-pad-mode = <IMX8_PCIE_REFCLK_PAD_INPUT>;
	status = "okay";
};

&reg_sdvmmc {
	off-on-delay-us = <200000>;
	status = "okay";
};

&usbotg1 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_usbotg1>;
	srp-disable;
	hnp-disable;
	adp-disable;
	power-active-high;
	over-current-active-low;
	dr_mode = "otg";
	status = "okay";
};

&usbotg3 {
	status = "okay";
};

&usbotg3_cdns3 {
	dr_mode = "host";
	status = "okay";
};

&usb3_phy {
	status = "okay";
};

&usbphy1 {
	status = "okay";
};

&usdhc2 {
	cd-gpios = <&lsio_gpio4 22 GPIO_ACTIVE_LOW>;
	wp-gpios = <&lsio_gpio4 21 GPIO_ACTIVE_HIGH>;
	vmmc-supply = <&reg_sdvmmc>;
	no-1-8-v;
	no-mmc;
	no-sdio;
	status = "okay";
};
