// SPDX-License-Identifier: (GPL-2.0-or-later OR MIT)
/*
 * Copyright 2020-2022 TQ-Systems GmbH
 * Author: Alexander Stein <linux@ew.tq-group.com>
 */

&backlight_lvds0 {
	status = "okay";
};

&dsi_lvds_bridge {
	status = "okay";

	ports {
		#address-cells = <1>;
		#size-cells = <0>;

		port@0 {
			reg = <0>;

			lvds_bridge_in: endpoint {
				data-lanes = <1 2 3 4>;
				remote-endpoint = <&mipi_dsi_out>;
			};
		};
	};
};

&expander0 {
	dsi-mux-oe-hog {
		gpio-hog;
		gpios = <10 0>;
		output-low;
		line-name = "DSI_MUX_OE#";
	};
};

&lcdif {
	status = "okay";
};

&mipi_dsi {
	status = "okay";

	port@1 {
		mipi_dsi_out: endpoint {
			remote-endpoint = <&lvds_bridge_in>;
			attach-bridge;
		};
	};
};

&panel0 {
	compatible = "tianma,tm070jvhg33";
	status = "okay";

	panel-timing {
		/*
		 * Override default timings from panel-simple
		 * as i.MX8M requires special timings.
		 */
		clock-frequency = <68200000>;
		hactive = <1280>;
		vactive = <800>;
		hfront-porch = <64>;
		hback-porch = <5>;
		hsync-len = <40>;
		vback-porch = <2>;
		vfront-porch = <40>;
		vsync-len = <1>;

		de-active = <1>;
	};
};
