// SPDX-License-Identifier: (GPL-2.0-or-later OR MIT)
/*
 * Copyright 2019-2021 TQ-Systems GmbH
 */

#include <dt-bindings/net/ti-dp83867.h>

/ {
	adc {
		compatible = "iio-hwmon";
		io-channels = <&adc0 0>, <&adc0 1>, <&adc0 2>;
	};

	gpio-keys {
		compatible = "gpio-keys";
		pinctrl-names = "default";
		pinctrl-0 = <&pinctrl_gpiokeys>;
		autorepeat;

		switch1 {
			label = "SWITCH_A";
			linux,code = <BTN_0>;
			gpios = <&lsio_gpio2 11 GPIO_ACTIVE_LOW>;
			wakeup-source;
		};

		switch2 {
			label = "SWITCH_B";
			linux,code = <BTN_1>;
			gpios = <&lsio_gpio1 0 GPIO_ACTIVE_LOW>;
			wakeup-source;
		};
	};

	gpio-leds {
		compatible = "gpio-leds";
		pinctrl-names = "default";
		pinctrl-0 = <&pinctrl_gpioled>;

		user-led0 {
			label = "USER_LED0";
			gpios = <&lsio_gpio5 20 GPIO_ACTIVE_HIGH>;
			linux,default-trigger = "heartbeat";
		};

		user-led1 {
			label = "USER_LED1";
			gpios = <&lsio_gpio5 19 GPIO_ACTIVE_HIGH>;
			default-state = "on";
		};
	};

	reg_mba8x_v3v3: mba8x_v3v3 {
		compatible = "regulator-fixed";
		regulator-name = "MBa8x-V3V3";
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;
		regulator-always-on;
	};

	reg_mba8x_12v: mba8x_12v {
		pinctrl-names = "default";
		pinctrl-0 = <&pinctrl_reg_mba8x_12v>;
		compatible = "regulator-fixed";
		regulator-name = "MBa8x-V12";
		regulator-min-microvolt = <12000000>;
		regulator-max-microvolt = <12000000>;
		enable-active-high;
		gpio = <&lsio_gpio1 2 GPIO_ACTIVE_HIGH>;
	};

	reg_v1v5_pcie: v1v5_pcie {
		pinctrl-names = "default";
		pinctrl-0 = <&pinctrl_reg_pcie_v1v5>;
		compatible = "regulator-fixed";
		regulator-name = "V1V5_PCIE";
		regulator-min-microvolt = <1500000>;
		regulator-max-microvolt = <1500000>;
		vin-supply = <&reg_mba8x_v3v3>;
		enable-active-high;
		gpio = <&lsio_gpio0 31 GPIO_ACTIVE_HIGH>;
	};

	reg_vref_v1v8: regulator-vref-v1v8 {
		compatible = "regulator-fixed";
		regulator-name = "VREF_V1V8";
		regulator-min-microvolt = <1800000>;
		regulator-max-microvolt = <1800000>;
		regulator-always-on;
	};

	reg_v1v8: regulator-v1v8 {
		compatible = "regulator-fixed";
		regulator-name = "MBa8x-V1V8";
		regulator-min-microvolt = <1800000>;
		regulator-max-microvolt = <1800000>;
		regulator-always-on;
	};

	reg_v3v3_pcie: v3v3_pcie {
		pinctrl-names = "default";
		pinctrl-0 = <&pinctrl_reg_pcie_v3v3>;
		compatible = "regulator-fixed";
		regulator-name = "V3V3_PCIE";
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;
		vin-supply = <&reg_mba8x_v3v3>;
		enable-active-high;
		gpio = <&lsio_gpio1 1 GPIO_ACTIVE_HIGH>;
		regulator-always-on;
	};

	reg_v3v3_sd: v3v3_sd {
		pinctrl-names = "default";
		pinctrl-0 = <&pinctrl_reg_v3v3_sd>;
		compatible = "regulator-fixed";
		regulator-name = "V3V3_SD";
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;
		vin-supply = <&reg_mba8x_v3v3>;
		gpio = <&lsio_gpio4 7 GPIO_ACTIVE_HIGH>;
		enable-active-high;
		regulator-boot-on;
		off-on-delay-us = <200000>;
	};

	reg_usbotg1_vbus: regulator-usbotg1-vbus {
		compatible = "regulator-fixed";
		regulator-name = "USBOTG1_VBUS";
		pinctrl-names = "default";
		pinctrl-0 = <&pinctrl_reg_usbotg1_vbus>;
		regulator-min-microvolt = <5000000>;
		regulator-max-microvolt = <5000000>;
		gpio = <&lsio_gpio4 3 GPIO_ACTIVE_HIGH>;
		enable-active-high;
	};

	reserved-memory {
		#address-cells = <2>;
		#size-cells = <2>;
		ranges;

		dsp_reserved: dsp@92400000 {
			reg = <0 0x92400000 0 0x1000000>;
			no-map;
		};
		dsp_reserved_heap: dsp_reserved_heap {
			reg = <0 0x93400000 0 0xef0000>;
			no-map;
		};

		/* global autoconfigured region for contiguous allocations */
		linux,cma {
			compatible = "shared-dma-pool";
			reusable;
			size = <0 0x3c000000>;
			alloc-ranges = <0 0x96000000 0 0x3c000000>;
			linux,cma-default;
		};
	};

	sound {
		compatible = "fsl,imx-audio-tlv320aic32x4";
		model = "tqm-tlv320aic32";
		ssi-controller = <&sai1>;
		audio-codec = <&codec>;
	};
};

&fec1 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_fec1>;
	phy-mode = "rgmii-id";
	phy-handle = <&ethphy0>;
	fsl,magic-packet;
	/* NXP starterkits share the mdio bus, we not */
	fsl,mii-exclusive;
	mac-address = [ 00 00 00 00 00 00 ];
	status = "okay";

	mdio {
		#address-cells = <1>;
		#size-cells = <0>;

		ethphy0: ethernet-phy@0 {
			compatible = "ethernet-phy-ieee802.3-c22";
			reg = <0>;
			ti,rx-internal-delay = <DP83867_RGMIIDCTL_2_25_NS>;
			ti,tx-internal-delay = <DP83867_RGMIIDCTL_2_25_NS>;
			ti,fifo-depth = <DP83867_PHYCR_FIFO_DEPTH_4_B_NIB>;
			ti,dp83867-rxctrl-strap-quirk;
			ti,clk-output-sel = <DP83867_CLK_O_SEL_OFF>;
			reset-gpios = <&lsio_gpio2 6 GPIO_ACTIVE_LOW>;
			reset-assert-us = <500000>;
			reset-deassert-us = <50000>;
			enet-phy-lane-no-swap;
			/* LED0: Link, LED2: activity */
			ti,led-function = <0x0100>;
			/* LED0/2: active High, driven by phy function */
			ti,led-ctrl = <0x1414>;
		};
	};
};

&fec2 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_fec2>;
	phy-mode = "rgmii-id";
	phy-handle = <&ethphy3>;
	/* NXP starterkits share the mdio bus, we not */
	fsl,mii-exclusive;
	fsl,magic-packet;
	mac-address = [ 00 00 00 00 00 00 ];
	status = "okay";

	mdio {
		#address-cells = <1>;
		#size-cells = <0>;

		ethphy3: ethernet-phy@3 {
			compatible = "ethernet-phy-ieee802.3-c22";
			reg = <3>;
			ti,rx-internal-delay = <DP83867_RGMIIDCTL_2_25_NS>;
			ti,tx-internal-delay = <DP83867_RGMIIDCTL_2_25_NS>;
			ti,fifo-depth = <DP83867_PHYCR_FIFO_DEPTH_4_B_NIB>;
			ti,dp83867-rxctrl-strap-quirk;
			ti,clk-output-sel = <DP83867_CLK_O_SEL_OFF>;
			reset-gpios = <&lsio_gpio2 4 GPIO_ACTIVE_LOW>;
			reset-assert-us = <500000>;
			reset-deassert-us = <50000>;
			enet-phy-lane-no-swap;
			/* LED0: Link, LED2: activity */
			ti,led-function = <0x0100>;
			/* LED0/2: active High, driven by phy function */
			ti,led-ctrl = <0x1414>;
		};
	};
};

&flexcan1 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_flexcan1>;
	xceiver-supply = <&reg_mba8x_v3v3>;
	status = "okay";
};

&flexcan2 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_flexcan2>;
	xceiver-supply = <&reg_mba8x_v3v3>;
	status = "okay";
};

&i2c1 {
	codec: tlv320aic32x4@18 {
		compatible = "ti,tlv320aic32x4";
		reg = <0x18>;
		clocks = <&mclkout0_lpcg 0>;
		clock-names = "mclk";
		power-domains = <&pd IMX_SC_R_MCLK_OUT_0>;
		assigned-clocks = <&clk IMX_SC_R_AUDIO_PLL_0 IMX_SC_PM_CLK_PLL>,
				<&clk IMX_SC_R_AUDIO_PLL_0 IMX_SC_PM_CLK_SLV_BUS>,
				<&clk IMX_SC_R_AUDIO_PLL_0 IMX_SC_PM_CLK_MST_BUS>,
				<&mclkout0_lpcg 0>;
		assigned-clock-rates = <786432000>, <49152000>, <12288000>, <12288000>;
		ldoin-supply = <&reg_mba8x_v3v3>;
		iov-supply = <&reg_v1v8>;
	};

	sensor1: jc42@1c {
		compatible = "nxp,se97", "jedec,jc-42.4-temp";
		reg = <0x1c>;
	};

	eeprom2: 24c02@54 {
		compatible = "nxp,se97b", "atmel,24c02";
		reg = <0x54>;
		pagesize = <16>;
	};
};

&lpspi0 {
	#address-cells = <1>;
	#size-cells = <0>;
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_lpspi0 &pinctrl_lpspi0_cs>;
	cs-gpios = <&lsio_gpio3 5 GPIO_ACTIVE_LOW>, <&lsio_gpio3 6 GPIO_ACTIVE_LOW>;
	status = "okay";

	spidev0_0: spidev0@0 {
		reg = <0>;
		compatible = "tq,testdev";
		spi-max-frequency = <5000000>;
		status = "okay";
	};

	spidev0_1: spidev0@1 {
		reg = <1>;
		compatible = "tq,testdev";
		spi-max-frequency = <5000000>;
		status = "okay";
	};
};

&lpspi1 {
	#address-cells = <1>;
	#size-cells = <0>;
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_lpspi1 &pinctrl_lpspi1_cs>;
	cs-gpios = <&lsio_gpio3 24 GPIO_ACTIVE_LOW>, <&lsio_gpio3 25 GPIO_ACTIVE_LOW>;
	status = "okay";

	spidev1_0: spidev1@0 {
		reg = <0>;
		compatible = "tq,testdev";
		spi-max-frequency = <5000000>;
		status = "okay";
	};

	spidev1_1: spidev1@1 {
		reg = <1>;
		compatible = "tq,testdev";
		spi-max-frequency = <5000000>;
		status = "okay";
	};
};

&lpspi2 {
	#address-cells = <1>;
	#size-cells = <0>;
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_lpspi2 &pinctrl_lpspi2_cs>;
	cs-gpios = <&lsio_gpio3 10 GPIO_ACTIVE_LOW>, <&lsio_gpio3 11 GPIO_ACTIVE_LOW>;
	status = "okay";

	spidev2_0: spidev2@0 {
		reg = <0>;
		compatible = "tq,testdev";
		spi-max-frequency = <5000000>;
		status = "okay";
	};

	spidev2_1: spidev2@1 {
		reg = <1>;
		compatible = "tq,testdev";
		spi-max-frequency = <5000000>;
		status = "okay";
	};
};

&pciea {
	ext_osc = <1>;
};

&pcieb {
	ext_osc = <1>;
};

&usdhc2 {
	pinctrl-names = "default", "state_100mhz", "state_200mhz";
	pinctrl-0 = <&pinctrl_usdhc2>, <&pinctrl_usdhc2_gpio>;
	pinctrl-1 = <&pinctrl_usdhc2_100mhz>, <&pinctrl_usdhc2_gpio>;
	pinctrl-2 = <&pinctrl_usdhc2_200mhz>, <&pinctrl_usdhc2_gpio>;
	bus-width = <4>;
	cd-gpios = <&lsio_gpio5 22 GPIO_ACTIVE_LOW>;
	wp-gpios = <&lsio_gpio5 21 GPIO_ACTIVE_HIGH>;
	vmmc-supply = <&reg_v3v3_sd>;
	no-mmc;
	no-sdio;
	status = "okay";
};
