// SPDX-License-Identifier: (GPL-2.0-or-later OR MIT)
/*
 * Copyright 2018-2020 TQ-Systems GmbH
 */

/ {
	backlight_lvds0: backlight-lvds0 {
		compatible = "pwm-backlight";
		pinctrl-names = "default";
		pinctrl-0 = <&pinctrl_backlight_lvds0>;
		pwms = <&pwm_mipi_lvds0 0 100000 0>;
		enable-gpios = <&lsio_gpio1 2 GPIO_ACTIVE_HIGH>;
		status = "disabled";
	};

	backlight_lvds1: backlight-lvds1 {
		compatible = "pwm-backlight";
		pinctrl-names = "default";
		pinctrl-0 = <&pinctrl_backlight_lvds1>;
		pwms = <&pwm_mipi_lvds1 0 100000 0>;
		enable-gpios = <&lsio_gpio1 0 GPIO_ACTIVE_HIGH>;
		status = "disabled";
	};

	panel_lvds0: panel-lvds0 {
		pinctrl-names = "default";
		pinctrl-0 = <&pinctrl_lbdpanel0>;
		backlight = <&backlight_lvds0>;
		enable-gpios = <&lsio_gpio1 3 0>;
		status = "disabled";
	};

	panel_lvds1: panel-lvds1 {
		pinctrl-names = "default";
		pinctrl-0 = <&pinctrl_lbdpanel1>;
		backlight = <&backlight_lvds1>;
		enable-gpios = <&lsio_gpio1 1 0>;
		status = "disabled";
	};

	reg_sdvmmc: regulator-sdvmmc {
		compatible = "regulator-fixed";
		pinctrl-names = "default";
		pinctrl-0 = <&pinctrl_sdvmmc>;
		regulator-name = "SD1_VMMC";
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;
		gpio = <&lsio_gpio4 19 GPIO_ACTIVE_HIGH>;
		enable-active-high;
		status = "disabled";
	};

	reg_vmmc: regulator-vmmc {
		compatible = "regulator-fixed";
		regulator-name = "MMC0_3V3";
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;
		regulator-always-on;
	};

	reg_vqmmc: regulator-vqmmc {
		compatible = "regulator-fixed";
		regulator-name = "MMC0_1V8";
		regulator-min-microvolt = <1800000>;
		regulator-max-microvolt = <1800000>;
		regulator-always-on;
	};

	reg_usbotg1_vbus: regulator-usbotg1-vbus {
		compatible = "regulator-fixed";
		regulator-name = "USBOTG1_VBUS";
		pinctrl-names = "default";
		pinctrl-0 = <&pinctrl_reg_usbotg1_vbus>;
		regulator-min-microvolt = <5000000>;
		regulator-max-microvolt = <5000000>;
		gpio = <&lsio_gpio4 3 GPIO_ACTIVE_HIGH>;
		enable-active-high;
	};

	memory@80000000 {
		device_type = "memory";
		/*
		 * DRAM base addr, size : 1024 MiB DRAM
		 * should be corrected by bootloader
		 */
		reg = <0x00000000 0x80000000 0 0x40000000>;
	};

	reserved-memory {
		#address-cells = <2>;
		#size-cells = <2>;
		ranges;

		/*
		 * global autoconfigured region for contiguous allocations
		 * must not exceed memory size and region
		 */
		linux,cma {
			compatible = "shared-dma-pool";
			reusable;
			size = <0 0x20000000>;
			alloc-ranges = <0 0x96000000 0 0x30000000>;
			linux,cma-default;
		};
	};

};

&cpu_alert0 {
	temperature = <95000>;
};

&cpu_crit0 {
	temperature = <100000>;
};

&fec1 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_fec1>;
	phy-mode = "rgmii-id";
	phy-handle = <&ethphy0>;
	phy-reset-gpios = <&lsio_gpio3 22 GPIO_ACTIVE_LOW>;
	phy-reset-duration = <500>;
	fsl,magic-packet;
	mac-address = [ 00 00 00 00 00 00 ];

	mdio {
		#address-cells = <1>;
		#size-cells = <0>;

		ethphy0: ethernet-phy@0 {
			compatible = "ethernet-phy-ieee802.3-c22";
			reg = <0>;
			ti,rx-internal-delay = <DP83867_RGMIIDCTL_2_50_NS>;
			ti,tx-internal-delay = <DP83867_RGMIIDCTL_2_50_NS>;
			ti,fifo-depth = <DP83867_PHYCR_FIFO_DEPTH_4_B_NIB>;
			ti,dp83867-rxctrl-strap-quirk;
			ti,clk-output-sel = <DP83867_CLK_O_SEL_OFF>;
			enet-phy-lane-no-swap;
		};

		ethphy3: ethernet-phy@3 {
			compatible = "ethernet-phy-ieee802.3-c22";
			reg = <3>;
			ti,rx-internal-delay = <DP83867_RGMIIDCTL_2_50_NS>;
			ti,tx-internal-delay = <DP83867_RGMIIDCTL_2_50_NS>;
			ti,fifo-depth = <DP83867_PHYCR_FIFO_DEPTH_4_B_NIB>;
			ti,dp83867-rxctrl-strap-quirk;
			ti,clk-output-sel = <DP83867_CLK_O_SEL_OFF>;
			enet-phy-lane-no-swap;
		};
	};
};

&fec2 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_fec2>;
	phy-mode = "rgmii-id";
	phy-handle = <&ethphy3>;
	fsl,magic-packet;
	phy-reset-gpios = <&lsio_gpio0 24 GPIO_ACTIVE_LOW>;
	phy-reset-duration = <500>;
	mac-address = [ 00 00 00 00 00 00 ];
};

/* CPU device tree mixes up counting from 0 and counting from 1 */
&flexcan2 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_can1>;
};

&flexcan3 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_can2>;
};

&flexspi0 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_flexspi0>;
	status = "okay";
	fsl,qspi-skip-dll-config;

	flash0: flash@0 {
		reg = <0>;
		#address-cells = <1>;
		#size-cells = <1>;
		compatible = "jedec,spi-nor";
/* TODO: try increase. n.b: MEK doesn't have spi-nor,ddr-quad-read-dummy */
/*		spi-max-frequency = <133000000>; */
		spi-max-frequency = <66000000>;
		spi-nor,ddr-quad-read-dummy = <8>;
		spi-tx-bus-width = <4>;
		spi-rx-bus-width = <4>;
		/* used for macronix flash only */
		macronix,dsr = <0x3>;
	};
};

&lsio_gpio0 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_smarc_fangpio>;

	gpio-line-names = "", "", "", "",
			  "", "", "", "",
			  "", "", "", "",
			  "", "", "", "",
			  "", "", "", "",
			  "", "SMARC GPIO6", "SMARC GPIO5", "",
			  "", "", "", "",
			  "", "", "", "";
};

&lsio_gpio1 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_smarc_gpio>;

	gpio-line-names = "", "", "", "",
			  "SMARC GPIO0", "SMARC GPIO1", "SMARC GPIO2", "",
			  "SMARC GPIO3", "SMARC GPIO8", "SMARC GPIO7", "SMARC GPIO10",
			  "SMARC GPIO9", "SMARC GPIO4", "", "",
			  "", "", "", "",
			  "", "", "", "",
			  "", "", "", "",
			  "", "", "", "";
};

&i2c0 {
	#address-cells = <1>;
	#size-cells = <0>;
	clock-frequency = <100000>;
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_lpi2c0>;
	status = "okay";

	/* NXP SE97BTP with temperature sensor + eeprom */
	sensor0: tempsensor@1b {
		compatible = "nxp,se97", "jedec,jc-42.4-temp";
		reg = <0x1b>;
		status = "okay";
	};

	eeprom0: eeprom@50 {
		compatible = "st,24c64", "atmel,24c64";
		reg = <0x50>;
		pagesize = <32>;
		status = "okay";
	};

	rtc1: rtc@51 {
		compatible = "nxp,pcf85063a";
		reg = <0x51>;
	};

	eeprom1: eeprom@53 {
		compatible = "nxp,se97b", "atmel,24c02";
		reg = <0x53>;
		pagesize = <16>;
		status = "okay";
	};
};

&iomuxc {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_hog>;

	pinctrl_backlight_lvds0: backlight_lvds0_grp {
		fsl,pins = <
			IMX8QXP_SPI2_SDI_LSIO_GPIO1_IO02	0x00000021
		>;
	};

	pinctrl_backlight_lvds1: backlight_lvds1_grp {
		fsl,pins = <
			IMX8QXP_SPI2_CS0_LSIO_GPIO1_IO00	0x00000021
		>;
	};

	pinctrl_can1: can1grp {
		fsl,pins = <
			IMX8QXP_UART2_RX_ADMA_FLEXCAN1_RX	0x00000020
			IMX8QXP_UART2_TX_ADMA_FLEXCAN1_TX	0x00000021
		>;
	};

	pinctrl_can2: can2grp {
		fsl,pins = <
			IMX8QXP_FLEXCAN2_TX_ADMA_FLEXCAN2_TX	0x00000020
			IMX8QXP_FLEXCAN2_RX_ADMA_FLEXCAN2_RX	0x00000021
		>;
	};

	pinctrl_fec1: fec1grp {
		fsl,pins = <
			IMX8QXP_COMP_CTL_GPIO_1V8_3V3_ENET_ENETB0_PAD		0x000014a0

			IMX8QXP_ENET0_MDC_CONN_ENET0_MDC			0x06000041
			IMX8QXP_ENET0_MDIO_CONN_ENET0_MDIO			0x06000041
			IMX8QXP_ENET0_RGMII_TX_CTL_CONN_ENET0_RGMII_TX_CTL	0x00000040
			IMX8QXP_ENET0_RGMII_TXC_CONN_ENET0_RGMII_TXC		0x00000040
			IMX8QXP_ENET0_RGMII_TXD0_CONN_ENET0_RGMII_TXD0		0x00000040
			IMX8QXP_ENET0_RGMII_TXD1_CONN_ENET0_RGMII_TXD1		0x00000040
			IMX8QXP_ENET0_RGMII_TXD2_CONN_ENET0_RGMII_TXD2		0x00000040
			IMX8QXP_ENET0_RGMII_TXD3_CONN_ENET0_RGMII_TXD3		0x00000040
			IMX8QXP_ENET0_RGMII_RXC_CONN_ENET0_RGMII_RXC		0x00000040
			IMX8QXP_ENET0_RGMII_RX_CTL_CONN_ENET0_RGMII_RX_CTL	0x00000040
			IMX8QXP_ENET0_RGMII_RXD0_CONN_ENET0_RGMII_RXD0		0x00000040
			IMX8QXP_ENET0_RGMII_RXD1_CONN_ENET0_RGMII_RXD1		0x00000040
			IMX8QXP_ENET0_RGMII_RXD2_CONN_ENET0_RGMII_RXD2		0x00000040
			IMX8QXP_ENET0_RGMII_RXD3_CONN_ENET0_RGMII_RXD3		0x00000040

			IMX8QXP_QSPI0B_DQS_LSIO_GPIO3_IO22			0x00000040
		>;
	};

	pinctrl_fec2: fec2grp {
		fsl,pins = <
			IMX8QXP_COMP_CTL_GPIO_1V8_3V3_ENET_ENETB1_PAD	0x000014a0

			IMX8QXP_ESAI0_SCKR_CONN_ENET1_RGMII_TX_CTL	0x00000040
			IMX8QXP_ESAI0_FSR_CONN_ENET1_RGMII_TXC		0x00000040
			IMX8QXP_ESAI0_TX4_RX1_CONN_ENET1_RGMII_TXD0	0x00000040
			IMX8QXP_ESAI0_TX5_RX0_CONN_ENET1_RGMII_TXD1	0x00000040
			IMX8QXP_ESAI0_FST_CONN_ENET1_RGMII_TXD2		0x00000040
			IMX8QXP_ESAI0_SCKT_CONN_ENET1_RGMII_TXD3	0x00000040
			IMX8QXP_ESAI0_TX0_CONN_ENET1_RGMII_RXC		0x00000040
			IMX8QXP_SPDIF0_TX_CONN_ENET1_RGMII_RX_CTL	0x00000040
			IMX8QXP_SPDIF0_RX_CONN_ENET1_RGMII_RXD0		0x00000040
			IMX8QXP_ESAI0_TX3_RX2_CONN_ENET1_RGMII_RXD1	0x00000040
			IMX8QXP_ESAI0_TX2_RX3_CONN_ENET1_RGMII_RXD2	0x00000040
			IMX8QXP_ESAI0_TX1_CONN_ENET1_RGMII_RXD3		0x00000040

			IMX8QXP_UART1_CTS_B_LSIO_GPIO0_IO24		0x00000040
		>;
	};

	pinctrl_flexspi0: flexspi0grp {
		fsl,pins = <
			IMX8QXP_QSPI0A_DATA0_LSIO_QSPI0A_DATA0	0x0000004d
			IMX8QXP_QSPI0A_DATA1_LSIO_QSPI0A_DATA1	0x0000004d
			IMX8QXP_QSPI0A_DATA2_LSIO_QSPI0A_DATA2	0x0000004d
			IMX8QXP_QSPI0A_DATA3_LSIO_QSPI0A_DATA3	0x0000004d
			IMX8QXP_QSPI0A_DQS_LSIO_QSPI0A_DQS	0x0000004d
			IMX8QXP_QSPI0A_SS0_B_LSIO_QSPI0A_SS0_B	0x0000004d
			IMX8QXP_QSPI0A_SCLK_LSIO_QSPI0A_SCLK	0x0000004d
			IMX8QXP_QSPI0B_SCLK_LSIO_QSPI0B_SCLK	0x0000004d
			IMX8QXP_QSPI0B_DATA0_LSIO_QSPI0B_DATA0	0x0000004d
			IMX8QXP_QSPI0B_DATA1_LSIO_QSPI0B_DATA1	0x0000004d
			IMX8QXP_QSPI0B_DATA2_LSIO_QSPI0B_DATA2	0x0000004d
			IMX8QXP_QSPI0B_DATA3_LSIO_QSPI0B_DATA3	0x0000004d
			IMX8QXP_QSPI0B_SS0_B_LSIO_QSPI0B_SS0_B	0x0000004d
			IMX8QXP_QSPI0B_SS1_B_LSIO_QSPI0B_SS1_B	0x0000004d
		>;
	};

	pinctrl_smarc_gpio: smarcgpiogrp {
		fsl,pins = <
			/* SMARC GPIO0 / CAM0_PWR# */
			IMX8QXP_SPI0_SCK_LSIO_GPIO1_IO04	0x00000021
			/* SMARC GPIO1 / CAM1_PWR# */
			IMX8QXP_SPI0_SDI_LSIO_GPIO1_IO05	0x00000021
			/* SMARC GPIO2 / CAM0_RST# */
			IMX8QXP_SPI0_SDO_LSIO_GPIO1_IO06	0x00000021
			/* SMARC GPIO3 / CAM1_RST# */
			IMX8QXP_SPI0_CS0_LSIO_GPIO1_IO08	0x00000021
			/* SMARC GPIO4 / HDA_RST# */
			IMX8QXP_ADC_IN5_LSIO_GPIO1_IO13		0x00000021
			/* SMARC GPIO7 */
			IMX8QXP_ADC_IN0_LSIO_GPIO1_IO10		0x00000021
			/* SMARC GPIO8 */
			IMX8QXP_ADC_IN1_LSIO_GPIO1_IO09		0x00000021
			/* SMARC GPIO9 */
			IMX8QXP_ADC_IN2_LSIO_GPIO1_IO12		0x00000021
			/* SMARC GPIO10 */
			IMX8QXP_ADC_IN3_LSIO_GPIO1_IO11		0x00000021
		>;
	};

	pinctrl_smarc_fangpio: smarcfangpiogrp {
		fsl,pins = <
			/* SMARC GPIO5 */
			IMX8QXP_UART1_RX_LSIO_GPIO0_IO22	0x00000021
			/* SMARC GPIO6 */
			IMX8QXP_UART1_TX_LSIO_GPIO0_IO21	0x00000021
		>;
	};

	pinctrl_hog: tqma8xxshoggrp {
		fsl,pins = <
			/* AUDIO MCLK*/
			IMX8QXP_MCLK_OUT0_ADMA_ACM_MCLK_OUT0	0x06000040
		>;
	};

	pinctrl_lbdpanel0: lbdpanel0grp {
		fsl,pins = <
			/* LCD PWR */
			IMX8QXP_SPI2_SCK_LSIO_GPIO1_IO03	0x00000021
		>;
	};

	pinctrl_lbdpanel1: lbdpanel1grp {
		fsl,pins = <
			/* LCD PWR */
			IMX8QXP_SPI2_SDO_LSIO_GPIO1_IO01	0x00000021
		>;
	};

	pinctrl_lpi2c0: lpi2c0grp {
		fsl,pins = <
			IMX8QXP_MIPI_DSI1_I2C0_SCL_MIPI_DSI1_I2C0_SCL	0x06000021
			IMX8QXP_MIPI_DSI1_I2C0_SDA_MIPI_DSI1_I2C0_SDA	0x06000021
		>;
	};

	pinctrl_lpuart0: lpuart0grp {
		fsl,pins = <
			IMX8QXP_UART0_RX_ADMA_UART0_RX			0x06000020
			IMX8QXP_UART0_TX_ADMA_UART0_TX			0x06000020
		>;
	};

	pinctrl_pcieb: pcieagrp{
		fsl,pins = <
			IMX8QXP_PCIE_CTRL0_PERST_B_LSIO_GPIO4_IO00	0x06000041
			IMX8QXP_PCIE_CTRL0_CLKREQ_B_LSIO_GPIO4_IO01	0x06000041
			IMX8QXP_PCIE_CTRL0_WAKE_B_LSIO_GPIO4_IO02	0x04000041
		>;
	};

	pinctrl_pwm_mipi_lvds0: mipi_lvds0_pwm_grp {
		fsl,pins = <
			IMX8QXP_MIPI_DSI0_GPIO0_00_MIPI_DSI0_PWM0_OUT	0x00000021
		>;
	};

	pinctrl_pwm_mipi_lvds1: mipi_lvds1_pwm_grp {
		fsl,pins = <
			IMX8QXP_MIPI_DSI1_GPIO0_00_MIPI_DSI1_PWM0_OUT	0x00000021
		>;
	};

	pinctrl_usdhc1: usdhc1grp {
		fsl,pins = <
			IMX8QXP_EMMC0_CLK_CONN_EMMC0_CLK	0x06000040
			IMX8QXP_EMMC0_CMD_CONN_EMMC0_CMD	0x00000020
			IMX8QXP_EMMC0_DATA0_CONN_EMMC0_DATA0	0x00000020
			IMX8QXP_EMMC0_DATA1_CONN_EMMC0_DATA1	0x00000020
			IMX8QXP_EMMC0_DATA2_CONN_EMMC0_DATA2	0x00000020
			IMX8QXP_EMMC0_DATA3_CONN_EMMC0_DATA3	0x00000020
			IMX8QXP_EMMC0_DATA4_CONN_EMMC0_DATA4	0x00000020
			IMX8QXP_EMMC0_DATA5_CONN_EMMC0_DATA5	0x00000020
			IMX8QXP_EMMC0_DATA6_CONN_EMMC0_DATA6	0x00000020
			IMX8QXP_EMMC0_DATA7_CONN_EMMC0_DATA7	0x00000020
			IMX8QXP_EMMC0_STROBE_CONN_EMMC0_STROBE	0x00000040
		>;
	};

	pinctrl_usdhc1_100mhz: usdhc1grp100mhz {
		fsl,pins = <
			IMX8QXP_EMMC0_CLK_CONN_EMMC0_CLK	0x06000041
			IMX8QXP_EMMC0_CMD_CONN_EMMC0_CMD	0x00000021
			IMX8QXP_EMMC0_DATA0_CONN_EMMC0_DATA0	0x00000021
			IMX8QXP_EMMC0_DATA1_CONN_EMMC0_DATA1	0x00000021
			IMX8QXP_EMMC0_DATA2_CONN_EMMC0_DATA2	0x00000021
			IMX8QXP_EMMC0_DATA3_CONN_EMMC0_DATA3	0x00000021
			IMX8QXP_EMMC0_DATA4_CONN_EMMC0_DATA4	0x00000021
			IMX8QXP_EMMC0_DATA5_CONN_EMMC0_DATA5	0x00000021
			IMX8QXP_EMMC0_DATA6_CONN_EMMC0_DATA6	0x00000021
			IMX8QXP_EMMC0_DATA7_CONN_EMMC0_DATA7	0x00000021
			IMX8QXP_EMMC0_STROBE_CONN_EMMC0_STROBE	0x00000041
		>;
	};

	pinctrl_usdhc1_200mhz: usdhc1grp200mhz {
		fsl,pins = <
			IMX8QXP_EMMC0_CLK_CONN_EMMC0_CLK	0x06000041
			IMX8QXP_EMMC0_CMD_CONN_EMMC0_CMD	0x00000021
			IMX8QXP_EMMC0_DATA0_CONN_EMMC0_DATA0	0x00000021
			IMX8QXP_EMMC0_DATA1_CONN_EMMC0_DATA1	0x00000021
			IMX8QXP_EMMC0_DATA2_CONN_EMMC0_DATA2	0x00000021
			IMX8QXP_EMMC0_DATA3_CONN_EMMC0_DATA3	0x00000021
			IMX8QXP_EMMC0_DATA4_CONN_EMMC0_DATA4	0x00000021
			IMX8QXP_EMMC0_DATA5_CONN_EMMC0_DATA5	0x00000021
			IMX8QXP_EMMC0_DATA6_CONN_EMMC0_DATA6	0x00000021
			IMX8QXP_EMMC0_DATA7_CONN_EMMC0_DATA7	0x00000021
			IMX8QXP_EMMC0_STROBE_CONN_EMMC0_STROBE	0x00000041
		>;
	};

	pinctrl_sdvmmc: sdvmmcgrp {
		fsl,pins = <
			IMX8QXP_USDHC1_RESET_B_LSIO_GPIO4_IO19		0x00000021
		>;
	};

	pinctrl_reg_usbotg1_vbus: regusbotg1vbusgrp {
		fsl,pins = <
			IMX8QXP_USB_SS3_TC0_LSIO_GPIO4_IO03		0x00000021
		>;
	};

	pinctrl_spi1: spi1grp {
		fsl,pins = <
			/* PU + PDRV Low + INOUT - MEK has 0x0600004c */
			IMX8QXP_SAI0_RXD_ADMA_SPI1_CS0			0x06000041
			IMX8QXP_SAI1_RXD_ADMA_SPI1_CS1			0x06000041
			IMX8QXP_SAI0_TXC_ADMA_SPI1_SDI			0x06000041
			IMX8QXP_SAI0_TXD_ADMA_SPI1_SDO			0x06000041
			IMX8QXP_SAI0_TXFS_ADMA_SPI1_SCK			0x06000041
		>;
	};

	pinctrl_sai1: sai1grp {
		fsl,pins = <
			IMX8QXP_SAI1_RXC_ADMA_SAI1_TXC			0x06000040
			IMX8QXP_SAI1_RXFS_ADMA_SAI1_TXFS		0x06000040
			IMX8QXP_FLEXCAN1_RX_ADMA_SAI1_TXD		0x06000040
			IMX8QXP_FLEXCAN1_TX_ADMA_SAI1_RXD		0x06000040
		>;
	};

	pinctrl_usbotg1: usbotg1grp {
		fsl,pins = <
			IMX8QXP_USB_SS3_TC2_CONN_USB_OTG1_OC		0x00000021
		>;
	};

	pinctrl_usdhc2_gpio: usdhc2gpiogrp {
		fsl,pins = <
			IMX8QXP_USDHC1_WP_LSIO_GPIO4_IO21		0x00000021
			IMX8QXP_USDHC1_CD_B_LSIO_GPIO4_IO22		0x00000021
		>;
	};

	pinctrl_usdhc2: usdhc2grp {
		fsl,pins = <
			IMX8QXP_USDHC1_CLK_CONN_USDHC1_CLK		0x06000041
			IMX8QXP_USDHC1_CMD_CONN_USDHC1_CMD		0x00000021
			IMX8QXP_USDHC1_DATA0_CONN_USDHC1_DATA0		0x00000021
			IMX8QXP_USDHC1_DATA1_CONN_USDHC1_DATA1		0x00000021
			IMX8QXP_USDHC1_DATA2_CONN_USDHC1_DATA2		0x00000021
			IMX8QXP_USDHC1_DATA3_CONN_USDHC1_DATA3		0x00000021
			IMX8QXP_USDHC1_VSELECT_CONN_USDHC1_VSELECT	0x00000021
		>;
	};

	pinctrl_usdhc2_100mhz: usdhc2grp100mhz {
		fsl,pins = <
			IMX8QXP_USDHC1_CLK_CONN_USDHC1_CLK		0x06000040
			IMX8QXP_USDHC1_CMD_CONN_USDHC1_CMD		0x00000020
			IMX8QXP_USDHC1_DATA0_CONN_USDHC1_DATA0		0x00000020
			IMX8QXP_USDHC1_DATA1_CONN_USDHC1_DATA1		0x00000020
			IMX8QXP_USDHC1_DATA2_CONN_USDHC1_DATA2		0x00000020
			IMX8QXP_USDHC1_DATA3_CONN_USDHC1_DATA3		0x00000020
			IMX8QXP_USDHC1_VSELECT_CONN_USDHC1_VSELECT	0x00000020
		>;
	};

	pinctrl_usdhc2_200mhz: usdhc2grp200mhz {
		fsl,pins = <
			IMX8QXP_USDHC1_CLK_CONN_USDHC1_CLK		0x06000040
			IMX8QXP_USDHC1_CMD_CONN_USDHC1_CMD		0x00000020
			IMX8QXP_USDHC1_DATA0_CONN_USDHC1_DATA0		0x00000020
			IMX8QXP_USDHC1_DATA1_CONN_USDHC1_DATA1		0x00000020
			IMX8QXP_USDHC1_DATA2_CONN_USDHC1_DATA2		0x00000020
			IMX8QXP_USDHC1_DATA3_CONN_USDHC1_DATA3		0x00000020
			IMX8QXP_USDHC1_VSELECT_CONN_USDHC1_VSELECT	0x00000020
		>;
	};
};

&lpspi1 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_spi1>;
	#address-cells = <1>;
	#size-cells = <0>;
	fsl,spi-num-chipselects = <2>;
	status = "okay";
};

&lpuart0 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_lpuart0>;
};

&pcieb{
	compatible = "fsl,imx8qxp-pcie","snps,dw-pcie";
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_pcieb>;
	reset-gpio = <&lsio_gpio4 0 GPIO_ACTIVE_LOW>;
	ext_osc = <1>;
};

&pwm_mipi_lvds0 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_pwm_mipi_lvds0>;
	status = "disabled";
};

&pwm_mipi_lvds1 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_pwm_mipi_lvds1>;
	status = "disabled";
};

&sai1 {
	assigned-clocks = <&clk IMX_SC_R_AUDIO_PLL_0 IMX_SC_PM_CLK_PLL>,
			<&clk IMX_SC_R_AUDIO_PLL_0 IMX_SC_PM_CLK_SLV_BUS>,
			<&clk IMX_SC_R_AUDIO_PLL_0 IMX_SC_PM_CLK_MST_BUS>,
			<&sai1_lpcg 0>;
	assigned-clock-rates = <786432000>, <49152000>, <12288000>, <49152000>;
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_sai1>;
	status = "okay";
};

&thermal_zones {
	pmic-thermal0 {
		polling-delay-passive = <250>;
		polling-delay = <2000>;
		thermal-sensors = <&tsens 497>;

		trips {
			pmic_alert0: trip0 {
				temperature = <110000>;
				hysteresis = <2000>;
				type = "passive";
			};

			pmic_crit0: trip1 {
				temperature = <125000>;
				hysteresis = <2000>;
				type = "critical";
			};
		};

		cooling-maps {
			map0 {
				trip = <&pmic_alert0>;
				cooling-device =
					<&A35_0 THERMAL_NO_LIMIT THERMAL_NO_LIMIT>,
					<&A35_1 THERMAL_NO_LIMIT THERMAL_NO_LIMIT>,
					<&A35_2 THERMAL_NO_LIMIT THERMAL_NO_LIMIT>,
					<&A35_3 THERMAL_NO_LIMIT THERMAL_NO_LIMIT>;
			};
		};
	};
};

&tsens {
	tsens-num = <2>;
};

&usbphy1 {
	status = "okay";
};

&usbotg1 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_usbotg1>;
	vbus-supply = <&reg_usbotg1_vbus>;
	srp-disable;
	hnp-disable;
	adp-disable;
	power-active-high;
	over-current-active-low;
	dr_mode = "otg";
};

&usb3phynop1 {
	status = "okay";
};

&usbotg3 {
	dr_mode = "host";
};

&usdhc1 {
	pinctrl-names = "default", "state_100mhz", "state_200mhz";
	pinctrl-0 = <&pinctrl_usdhc1>;
	pinctrl-1 = <&pinctrl_usdhc1_100mhz>;
	pinctrl-2 = <&pinctrl_usdhc1_200mhz>;
	vmmc-supply = <&reg_vmmc>;
	vqmmc-supply = <&reg_vqmmc>;
	bus-width = <8>;
	non-removable;
	no-sd;
	no-sdio;
	status = "okay";
};

&usdhc2 {
	pinctrl-names = "default", "state_100mhz", "state_200mhz";
	pinctrl-0 = <&pinctrl_usdhc2>, <&pinctrl_usdhc2_gpio>;
	pinctrl-1 = <&pinctrl_usdhc2_100mhz>, <&pinctrl_usdhc2_gpio>;
	pinctrl-2 = <&pinctrl_usdhc2_200mhz>, <&pinctrl_usdhc2_gpio>;
	bus-width = <4>;
	/* NOTE: CD / WP and VMMC support depends on mainboard */
};
