/*
 * Copyright 2018 - 2019 TQ Systems GmbH
 *
 * This program is free software; you can redistribute it and/or
 * modify it under the terms of the GNU General Public License
 * as published by the Free Software Foundation; either version 2
 * of the License, or (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 */

/ {
	reg_usdhc1_vmmc: usdhc1_vmmc {
		compatible = "regulator-fixed";
		regulator-name = "MMC0_3V3";
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;
		regulator-always-on;
	};

	reg_usdhc1_vqmmc: usdhc1_vqmmc {
		compatible = "regulator-fixed";
		regulator-name = "MMC0_1V8";
		regulator-min-microvolt = <1800000>;
		regulator-max-microvolt = <1800000>;
		regulator-always-on;
	};

	reg_panel_vdd: panel_vdd {
		compatible = "regulator-fixed";
		pinctrl-names = "default";
		pinctrl-0 = <&pinctrl_panel_vdd>;
		gpios = <&gpio1 3 GPIO_ACTIVE_HIGH>;
		status = "disabled";
	};

	reg_usbotg1_vbus: usbotg1_vbus {
		compatible = "regulator-fixed";
		regulator-name = "OTG1_VBUS";
		gpio = <&gpio4 3 GPIO_ACTIVE_HIGH>;
		enable-active-high;
		regulator-min-microvolt = <5000000>;
		regulator-max-microvolt = <5000000>;
	};

	reg_usbotg2_vbus: usbotg2_vbus {
		compatible = "regulator-fixed";
		regulator-name = "OTG2_VBUS";
		gpio = <&gpio4 4 GPIO_ACTIVE_HIGH>;
		enable-active-high;
		regulator-min-microvolt = <5000000>;
		regulator-max-microvolt = <5000000>;
	};

	memory@80000000 {
		device_type = "memory";
		/* DRAM base addr, size : 512 MiB DRAM - corrected by bootloader */
		reg = <0x00000000 0x80000000 0 0x20000000>;
	};
};

&fec1 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_fec1>;
	phy-mode = "rgmii-id";
	phy-handle = <&ethphy0>;
	phy-reset-gpios = <&gpio3 2 GPIO_ACTIVE_LOW>;
	phy-reset-duration = <500>;
	fsl,magic-packet;
	mac-address = [ 00 00 00 00 00 00 ];
	local-mac-address = [ 00 00 00 00 00 00 ];

	status = "okay";

	mdio {
		#address-cells = <1>;
		#size-cells = <0>;

		ethphy0: ethernet-phy@0 {
			compatible = "ethernet-phy-ieee802.3-c22";
			reg = <0>;
			ti,rx-internal-delay = <DP83867_RGMIIDCTL_2_50_NS>;
			ti,tx-internal-delay = <DP83867_RGMIIDCTL_2_50_NS>;
			ti,dp83867-rxctrl-strap-quirk;
			ti,led-cfg1 = <0xc100>; /* LED1: Link, LED2: activity */
			ti,led-cfg2 = <0x1441>; /* active high, LED1/2 driven by phy */
		};

		ethphy3: ethernet-phy@3 {
			compatible = "ethernet-phy-ieee802.3-c22";
			reg = <3>;
			ti,rx-internal-delay = <DP83867_RGMIIDCTL_2_50_NS>;
			ti,tx-internal-delay = <DP83867_RGMIIDCTL_2_50_NS>;
			ti,dp83867-rxctrl-strap-quirk;
			ti,led-cfg1 = <0xc100>; /* LED1: Link, LED2: activity */
			ti,led-cfg2 = <0x1441>; /* active high, LED1/2 driven by phy */
		};
	};
};

&fec2 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_fec2>;
	phy-mode = "rgmii-id";
	phy-handle = <&ethphy3>;
	fsl,magic-packet;
	phy-reset-gpios = <&gpio3 3 GPIO_ACTIVE_LOW>;
	phy-reset-duration = <500>;
	mac-address = [ 00 00 00 00 00 00 ];
	local-mac-address = [ 00 00 00 00 00 00 ];

	status = "okay";
};

&flexspi0 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_flexspi0>;
	status = "okay";
	fsl,qspi-skip-dll-config;

	flash0: flash@0 {
		reg = <0>;
		#address-cells = <1>;
		#size-cells = <1>;
		compatible = "spi-flash";
		spi-max-frequency = <66000000>;
		spi-nor,ddr-quad-read-dummy = <8>;
	};
};

&i2c1 {
	#address-cells = <1>;
	#size-cells = <0>;
	clock-frequency = <100000>;
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_lpi2c1>;
	status = "okay";

	/*
	 * NXP SE97BTP with temperature sensor + eeprom
	 * ATTENTION: do not use correct dt compatible since this will conflict
	 * with hwmon sysfs ABI and break device registration
	 */
	sensor0: jc42@19 {
		compatible = "nxp,se97", "jedec,jc-42.4-temp";
		reg = <0x19>;
		status = "okay";
	};

	eeprom1: 24c02@51 {
		compatible = "atmel,24c02";
		reg = <0x51>;
		pagesize = <16>;
		status = "okay";
	};

	eeprom0: m24c64@50 {
		compatible = "st,24c64", "atmel,24c64", "at24";
		reg = <0x50>;
		pagesize = <32>;
		status = "okay";
	};

	rtc1: ds1339@68 {
		compatible = "ds1339", "dallas,ds1339", "dallas,ds1337";
		reg = <0x68>;
	};
};

/* CPU device tree mixes up counting from 0 and counting from 1 */
&flexcan2 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_can1>;
	status = "okay";
};

&flexcan3 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_can2>;
	status = "okay";
};

&iomuxc {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_hog>;

	pinctrl_panel_vdd: panel_vdd {
		fsl,pins = <
			SC_P_SPI2_SCK_LSIO_GPIO1_IO03	0x00000021
		>;
	};

	pinctrl_fec1: fec1grp {
		fsl,pins = <
			SC_P_ENET0_MDC_CONN_ENET0_MDC			0x06000048
			SC_P_ENET0_MDIO_CONN_ENET0_MDIO			0x06000048
			SC_P_ENET0_RGMII_TX_CTL_CONN_ENET0_RGMII_TX_CTL	0x06000048
			SC_P_ENET0_RGMII_TXC_CONN_ENET0_RGMII_TXC	0x06000048
			SC_P_ENET0_RGMII_TXD0_CONN_ENET0_RGMII_TXD0	0x06000048
			SC_P_ENET0_RGMII_TXD1_CONN_ENET0_RGMII_TXD1	0x06000048
			SC_P_ENET0_RGMII_TXD2_CONN_ENET0_RGMII_TXD2	0x06000048
			SC_P_ENET0_RGMII_TXD3_CONN_ENET0_RGMII_TXD3	0x06000048
			SC_P_ENET0_RGMII_RXC_CONN_ENET0_RGMII_RXC	0x06000048
			SC_P_ENET0_RGMII_RX_CTL_CONN_ENET0_RGMII_RX_CTL	0x06000048
			SC_P_ENET0_RGMII_RXD0_CONN_ENET0_RGMII_RXD0	0x06000048
			SC_P_ENET0_RGMII_RXD1_CONN_ENET0_RGMII_RXD1	0x06000048
			SC_P_ENET0_RGMII_RXD2_CONN_ENET0_RGMII_RXD2	0x06000048
			SC_P_ENET0_RGMII_RXD3_CONN_ENET0_RGMII_RXD3	0x06000048

			SC_P_CSI_EN_LSIO_GPIO3_IO02			0x06000048
		>;
	};

	pinctrl_fec2: fec2grp {
		fsl,pins = <
			SC_P_ESAI0_SCKR_CONN_ENET1_RGMII_TX_CTL		0x06000048
			SC_P_ESAI0_FSR_CONN_ENET1_RGMII_TXC		0x06000048
			SC_P_ESAI0_TX4_RX1_CONN_ENET1_RGMII_TXD0	0x06000048
			SC_P_ESAI0_TX5_RX0_CONN_ENET1_RGMII_TXD1	0x06000048
			SC_P_ESAI0_FST_CONN_ENET1_RGMII_TXD2		0x06000048
			SC_P_ESAI0_SCKT_CONN_ENET1_RGMII_TXD3		0x06000048
			SC_P_ESAI0_TX0_CONN_ENET1_RGMII_RXC		0x06000048
			SC_P_SPDIF0_TX_CONN_ENET1_RGMII_RX_CTL		0x06000048
			SC_P_SPDIF0_RX_CONN_ENET1_RGMII_RXD0		0x06000048
			SC_P_ESAI0_TX3_RX2_CONN_ENET1_RGMII_RXD1	0x06000048
			SC_P_ESAI0_TX2_RX3_CONN_ENET1_RGMII_RXD2	0x06000048
			SC_P_ESAI0_TX1_CONN_ENET1_RGMII_RXD3		0x06000048

			SC_P_CSI_RESET_LSIO_GPIO3_IO03			0x06000048
		>;
	};

	pinctrl_can1: can1grp {
		fsl,pins = <
			SC_P_UART2_RX_ADMA_FLEXCAN1_RX	0x00000020
			SC_P_UART2_TX_ADMA_FLEXCAN1_TX	0x00000020
		>;
	};

	pinctrl_can2: can2grp {
		fsl,pins = <
			SC_P_FLEXCAN2_TX_ADMA_FLEXCAN2_TX	0x00000020
			SC_P_FLEXCAN2_RX_ADMA_FLEXCAN2_RX	0x00000020
		>;
	};

	pinctrl_flexspi0: flexspi0grp {
		fsl,pins = <
			SC_P_QSPI0A_DATA0_LSIO_QSPI0A_DATA0	0x0600004c
			SC_P_QSPI0A_DATA1_LSIO_QSPI0A_DATA1	0x0600004c
			SC_P_QSPI0A_DATA2_LSIO_QSPI0A_DATA2	0x0600004c
			SC_P_QSPI0A_DATA3_LSIO_QSPI0A_DATA3	0x0600004c
			SC_P_QSPI0A_DQS_LSIO_QSPI0A_DQS		0x0600004c
			SC_P_QSPI0A_SS0_B_LSIO_QSPI0A_SS0_B	0x0600004c
			SC_P_QSPI0A_SS1_B_LSIO_QSPI0A_SS1_B	0x0600004c
			SC_P_QSPI0A_SCLK_LSIO_QSPI0A_SCLK	0x0600004c
			SC_P_QSPI0B_SCLK_LSIO_QSPI0B_SCLK	0x0600004c
			SC_P_QSPI0B_DATA0_LSIO_QSPI0B_DATA0	0x0600004c
			SC_P_QSPI0B_DATA1_LSIO_QSPI0B_DATA1	0x0600004c
			SC_P_QSPI0B_DATA2_LSIO_QSPI0B_DATA2	0x0600004c
			SC_P_QSPI0B_DATA3_LSIO_QSPI0B_DATA3	0x0600004c
			SC_P_QSPI0B_DQS_LSIO_QSPI0B_DQS		0x0600004c
			SC_P_QSPI0B_SS0_B_LSIO_QSPI0B_SS0_B	0x0600004c
			SC_P_QSPI0B_SS1_B_LSIO_QSPI0B_SS1_B	0x0600004c
		>;
	};

	pinctrl_hog: mba8xxhoggrp {
		fsl,pins = <
			SC_P_MCLK_OUT0_ADMA_ACM_MCLK_OUT0	0x0600004c
		>;
	};

	pinctrl_lpi2c1: lpi2c1grp {
		fsl,pins = <
			SC_P_MIPI_DSI0_GPIO0_00_ADMA_I2C1_SCL	0x06000020
			SC_P_MIPI_DSI0_GPIO0_01_ADMA_I2C1_SDA	0x06000020
		>;
	};

	pinctrl_sai1: sai1grp {
		fsl,pins = <
			SC_P_FLEXCAN0_RX_ADMA_SAI1_TXC		0x06000040
			SC_P_FLEXCAN0_TX_ADMA_SAI1_TXFS		0x06000040
			SC_P_FLEXCAN1_RX_ADMA_SAI1_TXD		0x06000040
			SC_P_FLEXCAN1_TX_ADMA_SAI1_RXD		0x06000040
			SC_P_FLEXCAN2_RX_ADMA_SAI1_RXFS		0x06000040
			SC_P_FLEXCAN2_TX_ADMA_SAI1_RXC		0x06000040
		>;
	};

	pinctrl_usbotg1: usbotg1grp {
		fsl,pins = <
			/* USB_OTG1_PWR as gpio for regulator device */
			SC_P_USB_SS3_TC0_LSIO_GPIO4_IO03	0x00000021
			SC_P_USB_SS3_TC2_CONN_USB_OTG1_OC	0x00000021
		>;
	};

	pinctrl_usb2: usb2grp {
		fsl,pins = <
			/* USB_OTG2_PWR: */
			SC_P_USB_SS3_TC1_LSIO_GPIO4_IO04	0x00000021
			/* USB_OTG2_OC# */
			SC_P_USB_SS3_TC3_LSIO_GPIO4_IO06	0x00000021
		>;
	};

	pinctrl_usdhc1: usdhc1grp {
		fsl,pins = <
			SC_P_EMMC0_CLK_CONN_EMMC0_CLK		0x06000041
			SC_P_EMMC0_CMD_CONN_EMMC0_CMD		0x00000021
			SC_P_EMMC0_DATA0_CONN_EMMC0_DATA0	0x00000021
			SC_P_EMMC0_DATA1_CONN_EMMC0_DATA1	0x00000021
			SC_P_EMMC0_DATA2_CONN_EMMC0_DATA2	0x00000021
			SC_P_EMMC0_DATA3_CONN_EMMC0_DATA3	0x00000021
			SC_P_EMMC0_DATA4_CONN_EMMC0_DATA4	0x00000021
			SC_P_EMMC0_DATA5_CONN_EMMC0_DATA5	0x00000021
			SC_P_EMMC0_DATA6_CONN_EMMC0_DATA6	0x00000021
			SC_P_EMMC0_DATA7_CONN_EMMC0_DATA7	0x00000021
			SC_P_EMMC0_STROBE_CONN_EMMC0_STROBE	0x06000041
		>;
	};

	pinctrl_usdhc1_100mhz: usdhc1grp100mhz {
		fsl,pins = <
			SC_P_EMMC0_CLK_CONN_EMMC0_CLK		0x06000040
			SC_P_EMMC0_CMD_CONN_EMMC0_CMD		0x00000020
			SC_P_EMMC0_DATA0_CONN_EMMC0_DATA0	0x00000020
			SC_P_EMMC0_DATA1_CONN_EMMC0_DATA1	0x00000020
			SC_P_EMMC0_DATA2_CONN_EMMC0_DATA2	0x00000020
			SC_P_EMMC0_DATA3_CONN_EMMC0_DATA3	0x00000020
			SC_P_EMMC0_DATA4_CONN_EMMC0_DATA4	0x00000020
			SC_P_EMMC0_DATA5_CONN_EMMC0_DATA5	0x00000020
			SC_P_EMMC0_DATA6_CONN_EMMC0_DATA6	0x00000020
			SC_P_EMMC0_DATA7_CONN_EMMC0_DATA7	0x00000020
			SC_P_EMMC0_STROBE_CONN_EMMC0_STROBE	0x06000040
		>;
	};

	pinctrl_usdhc1_200mhz: usdhc1grp200mhz {
		fsl,pins = <
			SC_P_EMMC0_CLK_CONN_EMMC0_CLK		0x06000040
			SC_P_EMMC0_CMD_CONN_EMMC0_CMD		0x00000020
			SC_P_EMMC0_DATA0_CONN_EMMC0_DATA0	0x00000020
			SC_P_EMMC0_DATA1_CONN_EMMC0_DATA1	0x00000020
			SC_P_EMMC0_DATA2_CONN_EMMC0_DATA2	0x00000020
			SC_P_EMMC0_DATA3_CONN_EMMC0_DATA3	0x00000020
			SC_P_EMMC0_DATA4_CONN_EMMC0_DATA4	0x00000020
			SC_P_EMMC0_DATA5_CONN_EMMC0_DATA5	0x00000020
			SC_P_EMMC0_DATA6_CONN_EMMC0_DATA6	0x00000020
			SC_P_EMMC0_DATA7_CONN_EMMC0_DATA7	0x00000020
			SC_P_EMMC0_STROBE_CONN_EMMC0_STROBE	0x06000040
		>;
	};
};

&gpio0 {
	status = "okay";
};

&gpio1 {
	status = "okay";
};

&gpio3 {
	status = "okay";
};

&gpio4 {
	status = "okay";
};

&sai1 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_sai1>;
	assigned-clocks = <&clk IMX8QXP_AUD_PLL0_DIV>,
			<&clk IMX8QXP_AUD_ACM_AUD_PLL_CLK0_DIV>,
			<&clk IMX8QXP_AUD_ACM_AUD_REC_CLK0_DIV>,
			<&clk IMX8QXP_AUD_SAI_1_MCLK>;
	assigned-clock-rates = <786432000>, <49152000>, <12288000>, <49152000>;
	status = "okay";
};

&usbmisc1 {
	status = "okay";
};

&usbotg1 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_usbotg1>;
/*
 * TODO: check if session request protocol, host negotiation protocol and / or
 * attach detection protocol should be disabled as don by a lot of designs.
 */
	vbus-supply = <&reg_usbotg1_vbus>;
	power-polarity-active-high;
	/* not functional */
	disable-over-current;
	dr_mode = "otg";

	status = "okay";
};

&usbphy1 {
	status = "okay";
};

&usbotg3 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_usb2>;
	dr_mode = "host";
	status = "okay";
};

&usbphynop1 {
	status = "okay";
	vcc-supply = <&reg_usbotg2_vbus>;
};

&usdhc1 {
	pinctrl-names = "default", "state_100mhz", "state_200mhz";
	pinctrl-0 = <&pinctrl_usdhc1>;
	pinctrl-1 = <&pinctrl_usdhc1_100mhz>;
	pinctrl-2 = <&pinctrl_usdhc1_200mhz>;
	vmmc-supply = <&reg_usdhc1_vmmc>;
	vqmmc-supply = <&reg_usdhc1_vqmmc>;
	bus-width = <8>;
	non-removable;
	status = "okay";
};
