// SPDX-License-Identifier: GPL-2.0-or-later OR MIT
/*
 * Copyright (c) 2021-2023 TQ-Systems GmbH <linux@ew.tq-group.com>, D-82229 Seefeld, Germany.
 * Author: Andreas Dumberger, Paul Gerber
 *
 */

#include <dt-bindings/net/ti-dp83867.h>
#include <dt-bindings/gpio/gpio.h>
#include <dt-bindings/input/input.h>

/ {
	aliases {
		ethernet0 = &avb;
		mmc0 = &sdhi0;
		mmc1 = &sdhi3;
		serial0 = &scif2;
		serial1 = &hscif0;
		serial2 = &hscif1;
		serial3 = &scif0;
		spi0 = &msiof0;
		spi1 = &msiof1;
		spi2 = &msiof2;
		spi3 = &msiof3;
	};

	chosen {
		bootargs = "ignore_loglevel";
		stdout-path = "serial0:115200n8";
	};

	hdmi0-out {
		compatible = "hdmi-connector";
		type = "a";

		port {
			hdmi0_con: endpoint {
				remote-endpoint = <&rcar_dw_hdmi0_out>;
			};
		};
	};

	keys {
		compatible = "gpio-keys";

		key-1 {
			label = "BTN1";
			linux,code = <BTN_1>;
			gpios = <&gpio6 21 GPIO_ACTIVE_LOW>;
		};

		key-2 {
			label = "BTN2";
			linux,code = <BTN_2>;
			gpios = <&gpio6 16 GPIO_ACTIVE_LOW>;
		};

		key-3 {
			label = "BTN3";
			linux,code = <BTN_3>;
			gpios = <&gpio6 18 GPIO_ACTIVE_LOW>;
		};
	};

	leds {
		compatible = "gpio-leds";

		user_led_1 {
			label = "USER_LED1";
			gpios = <&gpio6 19 GPIO_ACTIVE_HIGH>;
		};

		user_led_2 {
			label = "USER_LED2";
			gpios = <&gpio6 11 GPIO_ACTIVE_HIGH>;
		};

		user_led_3 {
			label = "USER_LED3";
			gpios = <&gpio6 14 GPIO_ACTIVE_HIGH>;
		};
	};

	reg_1p8v: regulator0 {
		compatible = "regulator-fixed";
		regulator-name = "fixed-1.8V";
		regulator-min-microvolt = <1800000>;
		regulator-max-microvolt = <1800000>;
		regulator-boot-on;
		regulator-always-on;
	};

	reg_3p3v: regulator1 {
		compatible = "regulator-fixed";
		regulator-name = "fixed-3.3V";
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;
		regulator-boot-on;
		regulator-always-on;
	};

	sound_card: sound {
		compatible = "audio-graph-card";

		label = "rcar-sound";

		dais = <&rsnd_port0	/* HDMI Audio */
			&rsnd_port1>;	/* External TLV320AIC32 Codec */
	};

	vbus0_usb2: regulator_vbus_usb2 {
		compatible = "regulator-fixed";

		regulator-name = "USB20_VBUS0";
		regulator-min-microvolt = <5000000>;
		regulator-max-microvolt = <5000000>;
	};

	vccq_sdhi0: regulator-vccq-sdhi0 {
		compatible = "regulator-gpio";

		regulator-name = "SDHI0 VccQ";
		regulator-min-microvolt = <1800000>;
		regulator-max-microvolt = <3300000>;

		gpios = <&gpio6 7 GPIO_ACTIVE_HIGH>;
		gpios-states = <1>;
		states = <3300000 0
			  1800000 1>;
	};

	du_dotclk_in0: du-dotclock-in0 {
		compatible = "fixed-clock";
		#clock-cells = <0>;
		clock-frequency = <33000000>;
	};

	du_dotclk_in1: du-dotclock-in1 {
		compatible = "fixed-clock";
		#clock-cells = <0>;
		clock-frequency = <33000000>;
	};

	du_dotclk_in2: du-dotclock-in2 {
		compatible = "fixed-clock";
		#clock-cells = <0>;
		clock-frequency = <33000000>;
	};

	vspm_if {
		compatible = "renesas,vspm_if";
	};
};

&audio_clk_b {
	clock-frequency = <12288000>;
};

&audio_clk_c {
	clock-frequency = <24576000>;
};

&avb {
	pinctrl-0 = <&avb_pins>;
	pinctrl-names = "default";
	renesas,no-ether-link;
	phy-handle = <&phy0>;
	phy-mode = "rgmii-id";
	status = "okay";

	phy0: ethernet-phy@0 {
		compatible = "ethernet-phy-ieee802.3-c22";
		reg = <0>;

		reset-gpios = <&gpio1 25 GPIO_ACTIVE_LOW>;
		reset-assert-us = <500000>;
		reset-deassert-us = <50000>;
		interrupt-parent = <&gpio2>;
		interrupts = <11 IRQ_TYPE_LEVEL_LOW>;

		ti,rx-internal-delay = <DP83867_RGMIIDCTL_1_NS>;
		ti,tx-internal-delay = <DP83867_RGMIIDCTL_1_NS>;
		ti,fifo-depth = <DP83867_PHYCR_FIFO_DEPTH_4_B_NIB>;
		ti,dp83867-rxctrl-strap-quirk;
		ti,clk-output-sel = <DP83867_CLK_O_SEL_OFF>;
		ti,min-output-impedance;
		/* LED0: Link, LED2: activity */
		ti,led-function = <0x0100>;
		/* LED0/2: active Low, driven by phy function */
		ti,led-ctrl = <0x0000>;
		enet-phy-lane-no-swap;
	};
};

&canfd {
	pinctrl-0 = <&canfd_pins>;
	pinctrl-names = "default";
	status = "okay";

	channel0 {
		status = "okay";
	};

	channel1 {
		status = "okay";
	};
};

&du {
	status = "okay";
};

&ehci0 {
	status = "okay";
};

&extal_clk {
	clock-frequency = <25000000>;
};

&extalr_clk {
	clock-frequency = <32768>;
};

&gpio6 {
	usb3-hub-reset {
		gpio-hog;
		gpios = <22 GPIO_ACTIVE_LOW>;
		output-low;
		line-name = "usb3-hub-reset";
	};
};

&hdmi0 {
	status = "okay";

	ports {
		port@1 {
			reg = <1>;
			rcar_dw_hdmi0_out: endpoint {
				remote-endpoint = <&hdmi0_con>;
			};
		};
		port@2 {
			reg = <2>;
			dw_hdmi0_snd_in: endpoint {
				remote-endpoint = <&rsnd_endpoint>;
			};
		};
	};
};

&hscif0 {
	pinctrl-0 = <&hscif0_pins>;
	pinctrl-names = "default";

	uart-has-rtscts;
	status = "okay";
};

&hscif1 {
	pinctrl-0 = <&hscif1_pins>;
	pinctrl-names = "default";

	uart-has-rtscts;
	status = "okay";
};

&scif0 {
	pinctrl-0 = <&scif0_pins>;
	pinctrl-names = "default";

	status = "okay";
};

&hsusb {
	dr_mode = "otg";
	status = "okay";
};

&i2c4 {
	clock-frequency = <400000>;
	status = "okay";

	codec: audio-codec@18 {
		compatible = "ti,tlv320aic32x4";
		reg = <0x18>;
		reset-gpios = <&gpio6 28 GPIO_ACTIVE_LOW>;
		clocks = <&rcar_sound 3>;
		clock-names = "mclk";
		ldoin-supply = <&reg_3p3v>;
		iov-supply = <&reg_3p3v>;

		port {
			tlv320_endpoint: endpoint {
				remote-endpoint = <&rsnd_endpoint1>;
			};
		};
	};

	/* SE97B temp sensor */
	temperature-sensor@1f {
		compatible = "nxp,se97b", "jedec,jc-42.4-temp";
		reg = <0x1f>;
	};

	/* STMPE touchscreen controller */
	touch: touch@41 {
		compatible = "st,stmpe811";
		reg = <0x41>;
		wakeup-source;
		st,autosleep-timeout = <1024>;

		stmpe_touchscreen {
			compatible = "st,stmpe-ts";
			st,sample-time = <4>;
			st,mod-12b = <1>;
			st,ref-sel = <0>;
			st,adc-freq = <1>;
			st,ave-ctrl = <1>;
			st,touch-det-delay = <2>;
			st,settling = <2>;
			st,fraction-z = <7>;
			st,i-drive = <1>;
		};
	};

	/* config eeprom SE97B */
	eeprom@57 {
		compatible = "nxp,se97b", "atmel,24c02";
		reg = <0x57>;
		pagesize = <16>;
	};

	csa_vin: adc@70 {
		compatible = "maxim,max9611";
		reg = <0x70>;

		shunt-resistor-micro-ohms = <3000>;
	};

	csa_mod: adc@7d {
		compatible = "maxim,max9611";
		reg = <0x7d>;

		shunt-resistor-micro-ohms = <3000>;
	};

};

&i2c6 {
	pinctrl-0 = <&i2c6_pins>;
	pinctrl-names = "default";

	clock-frequency = <400000>;
	status = "okay";
};

&ohci0 {
	status = "okay";
};

&ohci1 {
	status = "okay";
};

&pcie_bus_clk {
	clock-frequency = <100000000>;
};

&pciec0 {
	status = "okay";
	deemph = <1>;
};

&pciec1 {
	status = "okay";
};

&pfc {
	avb_pins: avb {
		mux {
			groups = "avb_mdio", "avb_mii";
			function = "avb";
		};

		pins_mdio {
			groups = "avb_mdio";
			drive-strength = <24>;
		};

		pins_mii_tx {
			pins = "PIN_AVB_TX_CTL", "PIN_AVB_TXC", "PIN_AVB_TD0",
			       "PIN_AVB_TD1", "PIN_AVB_TD2", "PIN_AVB_TD3";
			drive-strength = <12>;
		};
	};

	canfd_pins: canfd {
		channel0 {
			groups = "canfd0_data_b";
			function = "canfd0";
		};
		channel1 {
			groups = "canfd1_data";
			function = "canfd1";
		};
	};

	scif0_pins: scif0 {
		groups = "scif0_data";
		function = "scif0";
	};

	scif2_pins: scif2 {
		groups = "scif2_data_a";
		function = "scif2";
	};

	hscif0_pins: hscif0 {
		groups = "hscif0_data", "hscif0_ctrl";
		function = "hscif0";
	};

	hscif1_pins: hscif1 {
		groups = "hscif1_data_a";
		function = "hscif1";
	};

	sdhi0_pins: sd0 {
		groups = "sdhi0_data4", "sdhi0_ctrl";
		function = "sdhi0";
		power-source = <3300>;
	};

	sdhi0_pins_uhs: sd0_uhs {
		mux {
			groups = "sdhi0_data4", "sdhi0_ctrl";
			function = "sdhi0";
			power-source = <1800>;
		};

		pins_sdhi0_ctrl_cmd {
			pins = "GP_3_1";
			drive-strength = <9>;
		};

		pins_sdhi0_ctrl_clk {
			pins = "GP_3_0";
			drive-strength = <15>;
		};

		pins_sdhi0_data4 {
			groups = "sdhi0_data4";
			drive-strength = <9>;
		};
	};

	sound_pins: sound {
		groups = "ssi01239_ctrl", "ssi0_data", "ssi1_data_a";
		function = "ssi";
	};

	sound_clk_pins: sound_clk {
		groups = "audio_clk_b_a", "audio_clk_c_b", "audio_clkout3_a";
		function = "audio_clk";
	};

	usb0_pins: usb0 {
		groups = "usb0";
		function = "usb0";
	};

	/* USB2 ch1 and USB3 do not use PWEN and OVC pins, so no muxing here... */

	i2c6_pins: i2c6 {
		groups = "i2c6_a";
		function = "i2c6";
	};

	msiof0_pins: spi0 {
		groups = "msiof0_clk", "msiof0_sync",
		"msiof0_rxd", "msiof0_txd";
		function = "msiof0";
	};
};

&rcar_sound {
	pinctrl-0 = <&sound_pins &sound_clk_pins>;
	pinctrl-names = "default";

	status = "okay";

	/* Single DAI */
	#sound-dai-cells = <0>;

	/* audio_clkout0/1/2/3 */
	#clock-cells = <1>;
	clock-frequency = <12288000>;

	ports {
		#address-cells = <1>;
		#size-cells = <0>;

		rsnd_port0: port@0 {
			reg = <0>;

			rsnd_endpoint: endpoint {
				remote-endpoint = <&dw_hdmi0_snd_in>;

				dai-format = "i2s";
				bitclock-master = <&rsnd_endpoint>;
				frame-master = <&rsnd_endpoint>;

				playback = <&ssi2>;
			};
		};

		rsnd_port1: port@1 {
			reg = <1>;

			rsnd_endpoint1: endpoint {
				remote-endpoint = <&tlv320_endpoint>;

				dai-format = "i2s";
				bitclock-master = <&rsnd_endpoint1>;
				frame-master = <&rsnd_endpoint1>;

				playback = <&ssi0 &src0 &dvc0>;
				capture  = <&ssi1>;
			};
		};
	};
};

&ssi1 {
	shared-pin;
};

&rwdt {
	timeout-sec = <60>;
	status = "okay";
};

&scif2 {
	pinctrl-0 = <&scif2_pins>;
	pinctrl-names = "default";

	status = "okay";
};

&scif_clk {
	clock-frequency = <0>;
};

&sdhi0 {
	pinctrl-0 = <&sdhi0_pins>;
	pinctrl-1 = <&sdhi0_pins_uhs>;
	pinctrl-names = "default", "state_uhs";

	vmmc-supply = <&reg_3p3v>;
	vqmmc-supply = <&vccq_sdhi0>;
	cd-gpios = <&gpio3 12 GPIO_ACTIVE_LOW>;
	bus-width = <4>;
	no-mmc;
	status = "okay";
};

&sdhi3 {
	pinctrl-0 = <&sdhi3_pins>;
	pinctrl-1 = <&sdhi3_pins>;
	pinctrl-names = "default", "state_uhs";

	vmmc-supply = <&reg_3p3v>;
	vqmmc-supply = <&reg_1p8v>;
	bus-width = <8>;
	mmc-hs200-1_8v;
	mmc-hs400-1_8v;
	non-removable;
	fixed-emmc-driver-type = <1>;
	no-sd;
	status = "okay";
};

&usb_extal_clk {
	clock-frequency = <50000000>;
};

&usb2_phy0 {
	pinctrl-0 = <&usb0_pins>;
	pinctrl-names = "default";

	vbus-supply = <&vbus0_usb2>;
	status = "okay";
};

&usb2_phy1 {
	status = "okay";
};

&usb3_peri0 {
	phys = <&usb3_phy0>;
	phy-names = "usb";

	companion = <&xhci0>;

	status = "okay";
};

&usb3_phy0 {
	status = "okay";
};

&usb3s0_clk {
	clock-frequency = <100000000>;
};

&xhci0 {
	status = "okay";
};

&vspi0 {
	status = "okay";
};

&cmt0 {
	status = "okay";
};

&cmt1 {
	status = "okay";
};

&tmu0 {
	status = "okay";
};

&tmu1 {
	status = "okay";
};

&tmu2 {
	status = "okay";
};

&tmu3 {
	status = "okay";
};

&tmu4 {
	status = "okay";
};

&msiof0 {
	pinctrl-0 = <&msiof0_pins>;
	pinctrl-names = "default";

	status = "okay";
};
