// SPDX-License-Identifier: GPL-2.0-only
/*
 * Copyright (c) 2021-2023 TQ-Systems GmbH <linux@ew.tq-group.com>,
 * D-82229 Seefeld, Germany.
 *
 * Based on:
 * Copyright (C) 2012 Texas Instruments Incorporated - http://www.ti.com/
 */
#include "am335x-mba335x.dts"
#include <dt-bindings/gpio/gpio.h>
#include <dt-bindings/interrupt-controller/irq.h>
#include <dt-bindings/pwm/pwm.h>

/ {
	panel {
		compatible = "ti,tilcdc,panel";
		backlight = <&backlight>;
		enable-gpios = <&expander1 1 GPIO_ACTIVE_HIGH>;

		panel-info {
			ac-bias           = <255>;
			ac-bias-intrpt    = <0>;
			dma-burst-sz      = <16>;
			bpp               = <32>;
			fdd               = <0x80>;
			sync-edge         = <0>;
			sync-ctrl         = <0>;
			raster-order      = <0>;
			fifo-th           = <0>;
		};

		display-timings {
			native-mode = <&et0700>;

			/* ET0700G0DH6 + ETM0700G0DH6 + ETM0700G0BDH6 */
			et0700: 800x480p62 {
				clock-frequency = <33260000>;
				hactive = <800>;
				vactive = <480>;
				hback-porch = <216>;
				hfront-porch = <40>;
				vback-porch = <35>;
				vfront-porch = <10>;
				hsync-len = <128>;
				vsync-len = <2>;
				hsync-active = <0>;
				vsync-active = <0>;
				de-active = <1>;
				pixelclk-active = <0>;
			};
		};
	};
};

&backlight {
	pwms = <&ecap2 0 50000 PWM_POLARITY_INVERTED>;
	brightness-levels = <0 58 61 66 75 90 125 170 255>;
	default-brightness-level = <7>;
	status = "okay";
};

/*
 * See also:
 * https://source.denx.de/u-boot/u-boot/-/commit/8c17cbdf8a8023abdd0009af4dc9dbc0541b4a0f
 */
&emif {
	ti,ocp-config = <0x003d3d3d>;
};

&epwmss2 {
	status = "okay";
};

&ecap2 {
	status = "okay";
};

&i2c1 {
	status = "okay";

	polytouch: touch@38 {
		compatible = "edt,edt-ft5406", "edt,edt-ft5x06";
		reg = <0x38>;
		pinctrl-names = "default";
		pinctrl-0 = <&polytouch_pins>;
		interrupt-parent = <&gpio2>;
		interrupts = <1 IRQ_TYPE_EDGE_FALLING>;
		/* reset by global reset */
		wake-gpios = <&expander1 0 0>;
		gain = <20>;
	};
};

&lcdc {
	status = "okay";
};

&tscadc {
	status = "okay";

	tsc {
		ti,wires = <4>;
		ti,x-plate-resistance = <200>;
		ti,coordinate-readouts = <7>;
		ti,wire-config = <0x01 0x10 0x23 0x32>;
		ti,tolerance = <5>;
	};

	adc {
		ti,adc-channels = <4 5 6 7>;
	};
};
