// SPDX-License-Identifier: (GPL-2.0+ OR MIT)
/*
 * Device Tree file for TQ AM571x baseboard MBa57xx.
 *
 * Copyright 2020 TQ-Systems GmbH
 *
 * Author: Michael Krummsdorf <michael.krummsdorf@tq-group.com>
 */

/dts-v1/;

#include "am571x-tqma57xx.dtsi"
#include "am57xx-mba57xx.dtsi"

/ {
	model = "TQ TQMa5718 MBa57xx (TI)";
	compatible = "tq,mba57xx", "tq,tqma5718", "ti,am5718",
		     "ti,dra7";
};
