// SPDX-License-Identifier: (GPL-2.0+ OR MIT)
/*
 * Device Tree file for TQ AM572x TQMa57xx SoM.
 *
 * Copyright 2020 TQ-Systems GmbH
 *
 * Author: Michael Krummsdorf <michael.krummsdorf@tq-group.com>
 */

#include "am5728.dtsi"
#include "dra74x-mmc-iodelay.dtsi"
#include "am57xx-tqma57xx.dtsi"

/ {
	memory@0 {
		device_type = "memory";
		reg = <0x0 0x80000000 0x0 0x80000000>;
	};

	reserved-memory {
		dsp2_cma_pool: dsp2_cma@9f000000 {
			compatible = "shared-dma-pool";
			reg = <0x0 0x9f000000 0x0 0x800000>;
			reusable;
			status = "okay";
		};
	};
};

&mmu0_dsp2 {
	status = "okay";
};

&mmu1_dsp2 {
	status = "okay";
};

&mmc2 {
	pinctrl-2 = <&mmc2_pins_modesel_nopu>;
	pinctrl-3 = <&mmc2_pins_modesel_nopu &mmc2_iodelay_hs200_rev20_conf>;
};
