// SPDX-License-Identifier: (GPL-2.0+ OR MIT)
/*
 * Device Tree file for TQ AM571x TQMa57xx SoM.
 *
 * Copyright 2020 TQ-Systems GmbH
 *
 * Author: Michael Krummsdorf <michael.krummsdorf@tq-group.com>
 */

#include "am5718.dtsi"
#include "am57xx-tqma57xx.dtsi"
#include "dra72x-mmc-iodelay.dtsi"

/ {
	memory@80000000 {
		device_type = "memory";
		reg = <0x0 0x80000000 0x0 0x40000000>;
	};
};

&mmc2 {
	pinctrl-2 = <&mmc2_pins_modesel_nopu>;
	pinctrl-3 = <&mmc2_pins_modesel_nopu &mmc2_iodelay_hs200_rev20_conf>;
};
