/*
 * Copyright 2016 Marco Felsch, TQ Systems GmbH
 *
 * The code contained herein is licensed under the GNU General Public
 * License. You may obtain a copy of the GNU General Public License
 * Version 2 or later at the following locations:
 *
 * http://www.opensource.org/licenses/gpl-license.html
 * http://www.gnu.org/copyleft/gpl.html
 */

/ {
	lcd {
		compatible = "fsl,lcd";
		ipu_id = <0>;
		disp_id = <0>;
		lcd-supply = <&reg_mba6_3p3v>;
		default_ifmt = "RGB666";
		pinctrl-names = "default";
		pinctrl-0 = <&pinctrl_lcd0_ipu1>;
		status = "okay";
	};
};

&backlight {
	status = "okay";
	pwms = <&pwm1 0 5000000>;
	brightness-levels = <255 128 64 32 16 8 4 1 0>;
	default-brightness-level = <0>;
};

&iomuxc {
	imx6qdl-mba6 {
		pinctrl_lcd0_ipu1: lcd0grp-1 {
			fsl,pins = <
				MX6QDL_PAD_DISP0_DAT0__IPU1_DISP0_DATA00	0x1b0b0
				MX6QDL_PAD_DISP0_DAT1__IPU1_DISP0_DATA01	0x1b0b0
				MX6QDL_PAD_DISP0_DAT2__IPU1_DISP0_DATA02	0x1b0b0
				MX6QDL_PAD_DISP0_DAT3__IPU1_DISP0_DATA03	0x1b0b0
				MX6QDL_PAD_DISP0_DAT4__IPU1_DISP0_DATA04	0x1b0b0
				MX6QDL_PAD_DISP0_DAT5__IPU1_DISP0_DATA05	0x1b0b0
				MX6QDL_PAD_DISP0_DAT6__IPU1_DISP0_DATA06	0x1b0b0
				MX6QDL_PAD_DISP0_DAT7__IPU1_DISP0_DATA07	0x1b0b0
				MX6QDL_PAD_DISP0_DAT8__IPU1_DISP0_DATA08	0x1b0b0
				MX6QDL_PAD_DISP0_DAT9__IPU1_DISP0_DATA09	0x1b0b0
				MX6QDL_PAD_DISP0_DAT10__IPU1_DISP0_DATA10	0x1b0b0
				MX6QDL_PAD_DISP0_DAT11__IPU1_DISP0_DATA11	0x1b0b0
				MX6QDL_PAD_DISP0_DAT12__IPU1_DISP0_DATA12	0x1b0b0
				MX6QDL_PAD_DISP0_DAT13__IPU1_DISP0_DATA13	0x1b0b0
				MX6QDL_PAD_DISP0_DAT14__IPU1_DISP0_DATA14	0x1b0b0
				MX6QDL_PAD_DISP0_DAT15__IPU1_DISP0_DATA15	0x1b0b0
				MX6QDL_PAD_DISP0_DAT16__IPU1_DISP0_DATA16	0x1b0b0
				MX6QDL_PAD_DISP0_DAT17__IPU1_DISP0_DATA17	0x1b0b0
				MX6QDL_PAD_DISP0_DAT18__IPU1_DISP0_DATA18	0x1b0b0
				MX6QDL_PAD_DISP0_DAT19__IPU1_DISP0_DATA19	0x1b0b0
				MX6QDL_PAD_DISP0_DAT20__IPU1_DISP0_DATA20	0x1b0b0
				MX6QDL_PAD_DISP0_DAT21__IPU1_DISP0_DATA21	0x1b0b0
				MX6QDL_PAD_DISP0_DAT22__IPU1_DISP0_DATA22	0x1b0b0
				MX6QDL_PAD_DISP0_DAT23__IPU1_DISP0_DATA23	0x1b0b0
				MX6QDL_PAD_DI0_PIN2__IPU1_DI0_PIN02		0x1b0b0
				MX6QDL_PAD_DI0_PIN3__IPU1_DI0_PIN03		0x1b0b0
				MX6QDL_PAD_DI0_PIN15__IPU1_DI0_PIN15		0x1b0b0
				MX6QDL_PAD_DI0_DISP_CLK__IPU1_DI0_DISP_CLK	0x1b0b0
			>;
		};
	};
};

