/*
 * Copyright 2013 Sascha Hauer, Pengutronix
 *
 * The code contained herein is licensed under the GNU General Public
 * License. You may obtain a copy of the GNU General Public License
 * Version 2 or later at the following locations:
 *
 * http://www.opensource.org/licenses/gpl-license.html
 * http://www.gnu.org/copyleft/gpl.html
 */

#include "imx6q.dtsi"
#include "imx6qp.dtsi"
#include "imx6qdl-tqma6b.dtsi"
#include "imx6qdl-tqma6.dtsi"

/ {
	memory: memory {
		reg = <0x10000000 0x40000000>;
	};
};

&clks {
	assigned-clocks = <&clks IMX6QDL_CLK_LDB_DI0_SEL>,
			  <&clks IMX6QDL_CLK_LDB_DI1_SEL>,
			  <&clks IMX6QDL_CLK_VPU_AXI_SEL>,
			  <&clks IMX6QDL_CLK_PLL2_PFD0_352M>;
	assigned-clock-parents = <&clks IMX6QDL_CLK_PLL3_USB_OTG>,
			  <&clks IMX6QDL_CLK_PLL3_USB_OTG>,
			  <&clks IMX6QDL_CLK_PLL2_PFD0_352M>;
	assigned-clock-rates = <0>, <0>, <0>, <327000000>;
	/delete-property/ fsl,ldb-di0-parent;
	/delete-property/ fsl,ldb-di1-parent;
};

&prg1 {
	memory-region = <&memory>;
};

&prg2 {
	memory-region = <&memory>;
};
