/*
 * Copyright 2013 Sascha Hauer, Pengutronix
 *
 * The code contained herein is licensed under the GNU General Public
 * License. You may obtain a copy of the GNU General Public License
 * Version 2 or later at the following locations:
 *
 * http://www.opensource.org/licenses/gpl-license.html
 * http://www.gnu.org/copyleft/gpl.html
 */

#include "imx6q.dtsi"
#include "imx6qp.dtsi"
#include "imx6qdl-tqma6.dtsi"
#include "imx6qdl-tqma6b.dtsi"

/ {
	memory: memory {
		reg = <0x10000000 0x40000000>;
	};
};

&prg1 {
	memory-region = <&memory>;
};

&prg2 {
	memory-region = <&memory>;
};
