/*
 * Copyright 2016 Marco Felsch, TQ Systems GmbH
 *
 * The code contained herein is licensed under the GNU General Public
 * License. You may obtain a copy of the GNU General Public License
 * Version 2 or later at the following locations:
 *
 * http://www.opensource.org/licenses/gpl-license.html
 * http://www.gnu.org/copyleft/gpl.html
 */

/ {
	pxp_v4l2 {
		compatible = "fsl,imx6ul-pxp-v4l2", "fsl,imx6sx-pxp-v4l2", "fsl,imx6sl-pxp-v4l2";
		status = "okay";
	};
};

&analog_touch {
	status = "okay";
};

&backlight_pd {
	status = "okay";
};

&lcdif {
	display = <&display1>;
	lcd-supply = <&reg_mba6ul_3v3>;
	status = "okay";
};

&polytouch {
	/*
	 * HACHHACK:
	 * do not use size settings, display touch reads out 1792 x 1024
	 * (tested with ETM0700G0BDH6)
	 */
/*
	touchscreen-size-x = <800>;
	touchscreen-size-y = <480>;
*/
	status = "okay";
};

&pwm4 {
	status = "okay";
};

&pxp {
	status = "okay";
};
