/*
 * Copyright 2016 Marco Felsch, TQ Systems GmbH
 *
 * The code contained herein is licensed under the GNU General Public
 * License. You may obtain a copy of the GNU General Public License
 * Version 2 or later at the following locations:
 *
 * http://www.opensource.org/licenses/gpl-license.html
 * http://www.gnu.org/copyleft/gpl.html
 */

/ {
	pxp_v4l2 {
		compatible = "fsl,imx6ul-pxp-v4l2", "fsl,imx6sx-pxp-v4l2", "fsl,imx6sl-pxp-v4l2";
		status = "okay";
	};
};

&backlight {
	pwms = <&pwm4 0 62500>;
	brightness-levels = <0 96 128 160 192 224 255>;
	default-brightness-level = <5>;
	status = "okay";
};

&reg_lcd_pwr {
	status = "okay";
};

&reg_lvds_transmitter {
	status = "okay";
};

&lcdif {
	status = "okay";
};

&pwm4 {
	status = "okay";
};

&pxp {
	status = "okay";
};
