/*
 * Copyright 2013 Sascha Hauer, Pengutronix
 * Copyright 2013-2017 Markus Niebel <Markus.Niebel@tq-group.com>
 *
 * The code contained herein is licensed under the GNU General Public
 * License. You may obtain a copy of the GNU General Public License
 * Version 2 or later at the following locations:
 *
 * http://www.opensource.org/licenses/gpl-license.html
 * http://www.gnu.org/copyleft/gpl.html
 */

&fec {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_enet>, <&pinctrl_enet_fix>;
	interrupts-extended = <&gpio1 6 IRQ_TYPE_LEVEL_HIGH>,
			      <&intc 0 119 IRQ_TYPE_LEVEL_HIGH>;
};

&i2c1 {
	sensor1: lm75@49 {
		compatible = "lm75";
		reg = <0x49>;
	};

	eeprom1: m24c64@57 {
		compatible = "st,24c64", "at24";
		reg = <0x57>;
		pagesize = <32>;
	};

	rtc1: ds1339@68 {
		compatible = "ds1339";
		reg = <0x68>;
	};
};

&iomuxc {
	mba6 {
		pinctrl_enet_fix: enetfixgrp {
			fsl,pins = <
				/* ENET ping patch */
				MX6QDL_PAD_GPIO_6__ENET_IRQ 0x000b1
			>;
		};
	};
};
