// SPDX-License-Identifier: GPL-2.0-or-later
/*
 * Copyright 2013 Sascha Hauer, Pengutronix
 *
 * Copyright 2013-2017 TQ Systems GmbH
 * Author: Markus Niebel <Markus.Niebel@tq-group.com>
 */

&fec {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_enet>, <&pinctrl_enet_fix>;
	interrupts-extended = <&gpio1 6 IRQ_TYPE_LEVEL_HIGH>,
			      <&intc 0 119 IRQ_TYPE_LEVEL_HIGH>;
};

&i2c1 {
	lm75: temperature-sensor@49 {
		compatible = "national,lm75";
		reg = <0x49>;
	};

	m24c64_57: eeprom@57 {
		compatible = "st,24c64", "atmel,24c64";
		reg = <0x57>;
		pagesize = <32>;
	};

	rtc1: rtc@68 {
		compatible = "dallas,ds1339";
		reg = <0x68>;
	};
};

&iomuxc {
	pinctrl_enet_fix: enetfixgrp {
		fsl,pins = <
			/* ENET ping patch */
			MX6QDL_PAD_GPIO_6__ENET_IRQ 0x000b1
		>;
	};
};
