/*
 * Copyright 2018 Markus Niebel, TQ Systems GmbH
 *
 * The code contained herein is licensed under the GNU General Public
 * License. You may obtain a copy of the GNU General Public License
 * Version 2 or later at the following locations:
 *
 * http://www.opensource.org/licenses/gpl-license.html
 * http://www.gnu.org/copyleft/gpl.html
 */

/ {
	display_lvds: display {
		bits-per-pixel = <32>; /* 32: RGB888/666 mode */
		bus-width = <24>;

		display-timings {
			native-mode = <&tianma_tm070jvhg33>;
			tianma_tm070jvhg33: tianma_tm070jvhg33 {
				clock-frequency = <62600000 68200000 78100000>;
				hactive = <1280 1280 1280>;
				vactive = <800 800 800>;
				hfront-porch = <15 64 159>;
				hback-porch = <5 5 5>;
				hsync-len = <1 1 256>;
				vback-porch = <2 2 2>;
				vfront-porch = <3 40 99>;
				vsync-len = <1 1 128>;
				de-active = <1>;
			};
		};
	};
};

&backlight {
	pwms = <&pwm2 0 62500>;
	brightness-levels = <0 16 32 64 96 128 160 192 224 255>;
	default-brightness-level = <5>;
	status = "okay";
};

/* for lcd reset != #stkrst */
/* place r2021, resolder r2022 and iomux following: */
/* MX6UL_PAD_LCD_RESET__GPIO3_IO04	0x79 */
&lcdif {
	display = <&display_lvds>;
	lcd-supply = <&reg_lcd_pwr>;
	status = "okay";
};

&reg_lcd_pwr {
	status = "okay";
};

&reg_lvds_transmitter {
	status = "okay";
};
