/*
 * Copyright 2013-2014 Freescale Semiconductor, Inc.
 * Copyright 2018 TQ Systems GmbH
 *
 * This program is free software; you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation; either version 2 of the License, or
 * (at your option) any later version.
 */

#include <dt-bindings/gpio/gpio.h>
#include <dt-bindings/leds/leds-pca9532.h>
#include <dt-bindings/net/ti-dp83867.h>
#include "ls1021a-tqmls1021a.dtsi"

/ {
	model = "TQMLS102xA SOM on MBLS102xA";

	aliases {
		enet0_rgmii_phy = &rgmii_phy0c;
		enet1_sgmii_phy = &sgmii_phy03;
		enet2_rgmii_phy = &rgmii_phy04;
	};

	regulators {
		compatible = "simple-bus";
		#address-cells = <1>;
		#size-cells = <0>;

		reg_3p3v: regulator@1 {
			compatible = "regulator-fixed";
			reg = <1>;
			regulator-name = "3P3V";
			regulator-min-microvolt = <3300000>;
			regulator-max-microvolt = <3300000>;
			regulator-always-on;
		};
	};

	backlight_dcu: backlight@0 {
		compatible = "gpio-backlight";
		status = "disabled";
	};

	hdmi_out: hdmi {
		compatible = "hdmi-connector";
		type = "a";
		ddc-i2c-bus = <&i2c0>;

		port {
			hdmi_in: endpoint {
				remote-endpoint = <&sii9022a_out>;
			};
		};
	};

	display: panel {
		backlight = <&backlight_dcu>;

		port {
			panel_in: endpoint {
				remote-endpoint = <&dcu_out>;
			};
		};
	};
};

&can0 {
	status = "okay";
	xceiver-supply = <&reg_3p3v>;
};

&can1 {
	status = "okay";
	xceiver-supply = <&reg_3p3v>;
};

&can2 {
	status = "disabled";
};

&can3 {
	status = "disabled";
};

/* Temperature trip point references:
 * Values copied from ls1021a.dtsi.
 * Please change according to any custom requirements.
 */
&cpu_alert {
	temperature = <85000>;
};

&cpu_crit {
	temperature = <95000>;
};

&dcu {
	status = "okay";

	port {
		#address-cells = <1>;
		#size-cells = <0>;

		dcu_out: endpoint@0 {
			reg = <0>;
			/* remote-endpoint set by top dt fragment */
		};
	};
};

&uart0 {
	status = "okay";
};

&uart1 {
	status = "okay";
};

&enet0 {
	phy-handle = <&rgmii_phy0c>;
	phy-connection-type = "rgmii-id";
	mac-address = [ 00 00 00 00 00 00 ];
	status = "okay";
};

&enet1 {
	tbi-handle = <&tbi1>;
	phy-handle = <&sgmii_phy03>;
	phy-connection-type = "sgmii";
	mac-address = [ 00 00 00 00 00 00 ];
	status = "okay";
};

&enet2 {
	phy-handle = <&rgmii_phy04>;
	phy-connection-type = "rgmii-id";
	mac-address = [ 00 00 00 00 00 00 ];
	status = "okay";
};

&i2c0 {
	status = "okay";

	pca9554_0: pca9554@20 {
		compatible = "nxp,pca9554";
		reg = <0x20>;

		interrupt-parent = <&gpio0>;
		interrupts = <24 IRQ_TYPE_EDGE_FALLING>;

		interrupt-controller;
		#interrupt-cells = <2>;

		gpio-controller;
		#gpio-cells = <2>;

		vcc-supply = <&reg_3p3v>;

		status = "okay";
	};

	pca9554_1: pca9554@21 {
		compatible = "nxp,pca9554";
		reg = <0x21>;

		interrupt-parent = <&gpio0>;
		interrupts = <25 IRQ_TYPE_EDGE_FALLING>;

		interrupt-controller;
		#interrupt-cells = <2>;

		gpio-controller;
		#gpio-cells = <2>;

		vcc-supply = <&reg_3p3v>;

		status = "okay";
	};

	pca9554_2: pca9554@22 {
		compatible = "nxp,pca9554";
		reg = <0x22>;

		gpio-controller;
		#gpio-cells = <2>;

		vcc-supply = <&reg_3p3v>;

		status = "okay";
	};

	polytouch: edt-ft5x06@38 {
		compatible = "edt,edt-ft5406", "edt,edt-ft5x06";
		reg = <0x38>;
		interrupt-parent = <&pca9554_0>;
		interrupts = <6 IRQ_TYPE_EDGE_FALLING>;
		/* LCD_PWR_EN -> TSC_RESET */
		reset-gpios = <&pca9554_1 4 GPIO_ACTIVE_HIGH>;
		status = "disabled";
	};

	sii9022a: hdmi@3b {
		compatible = "sil,sii9022";
		reg = <0x3b>;
		interrupts = <GIC_SPI 167 IRQ_TYPE_EDGE_RISING>;

		ports {
			#address-cells = <1>;
			#size-cells = <0>;

			port@0 {
				reg = <0>;
				sii9022a_in: endpoint {
					remote-endpoint = <&dcu_out>;
				};
			};

			port@1 {
				reg = <1>;
				sii9022a_out: endpoint {
					remote-endpoint = <&hdmi_in>;
				};
			};
		};
	};

	stmpe811@41 {
		compatible = "st,stmpe811";
		reg = <0x41>;
		#address-cells = <1>;
		#size-cells = <0>;

		interrupt-parent = <&gpio0>;
		interrupts = <23 IRQ_TYPE_EDGE_FALLING>;

		vcc-supply = <&reg_3p3v>;
		vio-supply = <&reg_3p3v>;

		status = "okay";

		stmpe_gpio {
			compatible = "stmpe,gpio";
			gpio-controller;
			#gpio-cells = <2>;
			gpio,norequest-mask = <0xF0>;
		};

		stmpe_touchscreen {
			compatible = "stmpe,ts";
/*
 * TODO:
 * this has to be configured per panel
 */
			st,sample-time = <4>;
			st,mod-12b = <1>;
			st,ref-sel = <0>;
			st,adc-freq = <1>;
			st,ave-ctrl = <1>;
			st,touch-det-delay = <3>;
			st,settling = <4>;
			st,fraction-z = <7>;
			st,i-drive = <1>;
		};
	};

	pca9530: pca9530@60 {
		compatible = "nxp,pca9530";
		reg = <0x60>;

		gpio-controller;
		#gpio-cells = <2>;

		gpio_pwm_0 {
			label = "pca9530:pwm0";
			type = <PCA9532_TYPE_GPIO>;
		};
		gpio_pwm_1 {
			label = "pca9530:pwm1";
			type = <PCA9532_TYPE_GPIO>;
		};
	};

};

&i2c1 {
	status = "okay";
};

&lpuart0 {
	status = "okay";
	linux,rs485-enabled-at-boot-time;
};

&mdio0 {
	rgmii_phy0c: ethernet-phy@0c {
		compatible = "ethernet-phy-id2000.a230",
			"ethernet-phy-ieee802.3-c22";
		reg = <0x0c>;
		ti,rx-internal-delay = <DP83867_RGMIIDCTL_2_50_NS>;
		ti,tx-internal-delay = <DP83867_RGMIIDCTL_2_00_NS>;
		ti,led-cfg1 = <0x6b90>;
		ti,led-cfg2 = <0x0000>;
		ti,led-cfg3 = <0x0001>;
		ti,fifo-depth = <DP83867_PHYCR_FIFO_DEPTH_4_B_NIB>;
	};
	sgmii_phy03: ethernet-phy@03 {
		compatible = "ethernet-phy-id2000.a230",
			"ethernet-phy-ieee802.3-c22";
		reg = <0x03>;
		ti,led-cfg1 = <0x6b90>;
		ti,led-cfg2 = <0x0000>;
		ti,led-cfg3 = <0x0001>;
		ti,fifo-depth = <DP83867_PHYCR_FIFO_DEPTH_4_B_NIB>;
		ti,dp83867-rxctrl-strap-quirk;
	};
	rgmii_phy04: ethernet-phy@04 {
		compatible = "ethernet-phy-id2000.a230",
			"ethernet-phy-ieee802.3-c22";
		reg = <0x04>;
		ti,rx-internal-delay = <DP83867_RGMIIDCTL_2_50_NS>;
		ti,tx-internal-delay = <DP83867_RGMIIDCTL_2_00_NS>;
		ti,led-cfg1 = <0x6b90>;
		ti,led-cfg2 = <0x0000>;
		ti,led-cfg3 = <0x0001>;
		ti,fifo-depth = <DP83867_PHYCR_FIFO_DEPTH_4_B_NIB>;
	};
};

&uqe {
	tdma: ucc@2000 {
		compatible = "fsl,ucc-tdm";
		rx-clock-name = "clk8";
		tx-clock-name = "clk9";
		fsl,rx-sync-clock = "rsync_pin";
		fsl,tx-sync-clock = "tsync_pin";
		fsl,tx-timeslot = <0xfffffffe>;
		fsl,rx-timeslot = <0xfffffffe>;
		fsl,tdm-framer-type = "e1";
		fsl,tdm-mode = "normal";
		fsl,tdm-id = <0>;
		fsl,siram-entry-id = <0>;
	};

	serial: ucc@2200 {
		device_type = "serial";
		compatible = "ucc_uart";
		port-number = <1>;
		rx-clock-name = "brg2";
		tx-clock-name = "brg2";
	};
};

&pwm6 {
	status = "okay";
};

&pwm7 {
	status = "okay";
};

&sai1 {
	status = "okay";
};

&sata {
	/delete-property/dma-coherent;
	status = "okay";
};

&dspi0 {
	bus-num = <0>;
	status = "okay";

	spidev0: spidev@0 {
		compatible = "rohm,dh2228fv";
		reg = <0>;
		spi-max-frequency = <100000>;
	};
};
